﻿@model IEnumerable<AMC.Models.WDSReportModel>
@{
    ViewBag.Title = "Consolidated WDN LDQ Report";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<style>



    .spinner-button {
        border: 2px solid #000;
        display: inline-block;
        padding: 8px 20px 9px;
        font-size: 12px;
        color: #000;
        background-color: transparent
    }
</style>
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">


    <div class="container-fluid mt-2">
        <h4 class="text-center zone-table-title mt-2" style="color: #0462ac; position: inherit; ">Consolidated WDS Report</h4>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    Zone :
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.DropDownList("ZoneListReport", item.ReportZoneList, "All", new { @class = "form-control" })

                        }
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    Date :
                    <input type="text" name="date" id="datetime_report" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <button id="btnLoadReport" class="btn btn-sm btn-success" style="margin-top: 22px;" onclick="GetWDSLdqReport();">View</button>
                <button class="btn btn-sm btn-success" id="btnExcel" onclick="GetExcel();" style="margin-top: 22px;">Download</button>

            </div>
        </div>
    </div>
    <br /><br />
    <div>

        <div id="reporthourly">
            @*<button class="btn btn-sm btn-info" id="btnExcel" onclick="GetExcel();" style="margin:10px;color:white;">Excel</button>*@
            <div id="reportHeader" class="row ">
                <div class="row">
                    <div class="col-md-1">
                        Client  :
                    </div>
                    <div class="col-md-4">
                        Smart City Ahmedabad Development Limited (SCADAL)
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Agency   :
                        </div>
                        <div class="col-md-4">
                            Chetas Control Systems Pvt Ltd Pune
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Report Type   :
                        </div>
                        <div class="col-md-4">
                            WDS Consolidated Data Report
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Date   :
                        </div>
                        <div class="col-md-4">
                            <label id="reportDatetime"></label>
                        </div>
                    </div>

                    <br />
                </div>

                <table class="table" id="wdsReporttable">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th style="text-align: left;">Zone</th>
                            <th style="text-align: left;">ParentWTP</th>
                            <th style="text-align: left;">LocationName</th>
                            <th style="text-align: left;">Diameter (MTR)</th>
                            <th style="text-align: left;">InletFlow (m3/Hr)</th>
                            <th style="text-align: left;">OutletFlow (m3/Hr)</th>
                            <th style="text-align: left;">Pressure (PSI)</th>
                            <th style="text-align: left;">PeakLevel (MTR)</th>
                            <th style="text-align: left;">PeakPressure (PSI)</th>
                            <th style="text-align: left;">TotalPumpingHour (HH:MM)</th>
                            <th style="text-align: left;">UnitConsumption (KWH)</th>
                            <th style="text-align: left;">LDQInlet (m3)</th>
                            <th style="text-align: left;">LDQOutlet (m3)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>



        </div>
    </div>
</main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script>
    $('#datetime_report').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        startDate: moment().startOf('minute').add(1, 'minute'),
        locale: {
            format: 'DD-MMM-YYYY HH:mm'
        }
    });
</script>

<script type="text/javascript">

    function GetExcel() {

        var zonename = $('#ZoneListReport').find(":selected").text();
        var dateandtime1 = $('#datetime_report').val().toString();
        $('#btnExcel').prop("disabled", true);
        // add spinner to button
        $('#btnExcel').html(
            `<span class="spinner-border spinner-border-sm" ></span> Downloading...`
        );

        window.location.href = '/Report/DownloadZonewiseWDSReportExcel/?Zone=' + zonename +'&Datetime=' + dateandtime1;
        $('#btnExcel').prop("disabled", false);
        $('#btnExcel').html(
            `Download`
        );


    }

    function GetWDSLdqReport() {
        $('#reportHeader').css('display', 'none');
        var zone = $('#ZoneListReport').find(":selected").text();
        var dateandtime = $('#datetime_report').val().toString();
        var table = $("#wdsReporttable tbody");
        table.empty();


        $('#btnLoadReport').prop("disabled", true);
        // add spinner to button
        $('#btnLoadReport').html(
            `<span class="spinner-border spinner-border-sm" ></span> Loading...`
        );
        $.ajax(
            {
                type: "GET",
                url: '/Report/GetZonewiseWDSLDqReport/?Zone=' + zone + '&DateTime=' + dateandtime,
               // data: { "Datetime": dateandtime },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (res) {
                    $('#reportHeader').css('display', 'block');
                    $('#reportDatetime').text(dateandtime);

                    $('#wdsReporttable').DataTable().destroy();
                    $('#btnLoadReport').prop("disabled", false);
                    $('#btnLoadReport').html(
                        `View`
                    );
                    console.log(res);
                    table.empty();
                    $('#wdsReporttable').DataTable(
                        {

                            "scrollX": "500px",
                            "scrollY": "500px",
                            "scrollCollapse": true,
                            "paging": false,
                            buttons: [

                            ]
                        }); $('#wdsReporttable').DataTable().destroy();
                    var ldqInlettotal = 0;
                    var ldqOutlettotal = 0;
                    $.each(res, function (r) {
                        var srno = r + 1;
                        table.append("<tr><td >" + srno + "</td><td style=\"text-align: left;\">" + res[r].Zone + "</td><td style=\"text-align: left;\">" + res[r].ParentWTP + "</td><td style=\"text-align: left;\">" + res[r].LocationName + "</td><td style=\"text-align: left;\">" + res[r].Diameter + "</td><td>" + res[r].InletFlow + "</td><td>" + res[r].OutletFlow + "</td><td>" + res[r].Pressure + "</td><td>" + res[r].PeakLevelMTR + "</td><td>" + res[r].PeakPressure + "</td><td>" + res[r].TotalPumpingHour + "</td><td>" + res[r].KWH + "</td><td>" + res[r].LDQInlet + "</td><td>" + res[r].LDQOutlet + "</td></tr>");
                        ldqInlettotal = res[r].LDQInlet + ldqInlettotal;
                        ldqOutlettotal = res[r].LDQOutlet + ldqOutlettotal;
                    });
                    table.append("<tr style='background:#0462ac; color:white;'><td colspan='12'>Total</td><td>" + ldqInlettotal + "</td><td>" + ldqOutlettotal + "</td></tr>");
                    $('#wdsReporttable').DataTable(
                        {

                            "scrollX": "500px",
                            "scrollY": "500px",
                            "scrollCollapse": true,
                            "paging": false,
                            buttons: [

                            ]
                        });
                },

                error: function (msg) {
                    $('#btnLoadReport').prop("disabled", false);
                    $('#btnLoadReport').html(
                        ``
                    );
                    $('#btnLoadReport').html(
                        `View`
                    );
                    alert(msg.responseText);
                }
            });


    }


</script>


