﻿@model IEnumerable<AMC.Models.ReportModel>

@{
    ViewBag.Title = "Monthly Report";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<style>



    .spinner-button {
        border: 2px solid #000;
        display: inline-block;
        padding: 8px 20px 9px;
        font-size: 12px;
        color: #000;
        background-color: transparent
    }
</style>
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">


    <div class="container-fluid mt-2">
        <h4 class="text-center zone-table-title mt-2" style="color: #0462ac; position: inherit; ">Monthly Review Data Report</h4>

        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    Zone :
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.DropDownList("ZoneListReport", item.ReportZoneList, new { @class = "form-control" })

                        }
                    }
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    Ward :
                    <select class="form-control" id="ward_report">
                        <option>Select Ward</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    Location :
                    <select class="form-control" id="location_report">
                        <option>Select Location</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    Date :
                    <input type="text" name="date" id="datetime_report" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <button id="btnLoadReport" class="btn btn-sm btn-success" style="margin-top: 22px;" onclick="GetWDNHourlyReport();">View</button>
                <button class="btn btn-sm btn-success" id="btnExcel" onclick="GetExcel();" style="margin-top: 22px;">Download</button>

            </div>
        </div>
    </div>
    <br /><br />
    <div>

        <div id="reporthourly1">
            @*<button class="btn btn-sm btn-info" id="btnExcel" onclick="GetExcel();" style="margin:10px;color:white;">Excel</button>*@
            <div id="reportHeader" class="row ">
                <div class="row">
                    <div class="col-md-1">
                        Client  :
                    </div>
                    <div class="col-md-4">
                        Smart City Ahmedabad Development Limited (SCADAL)
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Agency   :
                        </div>
                        <div class="col-md-4">
                            Chetas Control Systems Pvt Ltd Pune
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Report Type   :
                        </div>
                        <div class="col-md-4">
                            Monthly
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Report Date   :
                        </div>
                        <div class="col-md-4">
                            <label id="reportDatetime"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Zone   :<label id="lblZone"></label>
                        </div>
                        <div class="col-md-3">
                            Ward   :<label id="lblWard"></label>
                        </div>
                        <div class="col-md-3">
                            Location   :<label id="lblLocation"></label>
                        </div>
                    </div>
                    <br />
                </div>
                <table class="table table-striped table-bordered" id="MonthlyReport_table">
                    <thead>
                        <tr>
                            <th>Datetime</th>
                            <th>LDQ (m3)</th>
                            <th>PeakPressure (PSI)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    @*<tbody id="sumavg">
                        <tr>
                            <td>Total</td>
                            <td id="totalLDQ">0</td>
                            <td id="totalPressure">0</td>
                        </tr>
                        <tr>
                            <td>Average</td>
                            <td id="avgLDQ">0</td>
                            <td id="avgPressure">0</td>
                        </tr>
                    </tbody>*@
                </table>



            </div>

        </div>

    </div>
</main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
   

    $("#ZoneListReport").change(function () {

        var zone = $("#ZoneListReport").val();
        $.ajax({
            type: 'GET',
            url: "/Dashboard/GetwardByzonenad",
            data: { "ZoneId": zone, },
            dataType: "json",
            success: function (result) {
                console.dir(result);

                $("#ward_report").empty();
                $("#ward_report").append($("<option/>", { text: "Select Ward" }));
                $("#location_report").empty();
                $("#location_report").append($("<option/>", { text: "Select Location" }));
                for (var i = 0; i < result.length; i++) {
                    $("#ward_report").append($("<option/>", { "value": result[i].WardID, text: result[i].WardName }));
                }
            },
            error: function (e) {
                alert("Error:Unable to load data from server");
            }

        });
    });
    $("#ward_report").change(function () {
        var ward = $('#ward_report').find(":selected").text();
        var zone = $('#ZoneListReport').find(":selected").text();

        $.ajax({
            type: 'GET',
            url: "/Dashboard/GetLocationByWardZone",
            data: { "zone": zone, "ward": ward },
            dataType: "json",
            success: function (result) {
                console.dir(result);
                $("#location_report").empty();
                $("#location_report").append($("<option/>", { text: "Select Location" }));
                for (var i = 0; i < result.length; i++) {
                    $("#location_report").append($("<option/>", { "value": result[i].WDNID, text: result[i].Location }));
                }
            },
            error: function (e) {
                alert("Error:Unable to load data from server");
            }

        });
    });


</script>

<script>
    $('#datetime_report').daterangepicker({
        singleDatePicker: true,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });
</script>


@*<script src="https://cdn.jsdelivr.net/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>*@
<script type="text/javascript">

    function GetExcel() {
        var zonename = $('#ZoneListReport').find(":selected").text();
        var wardname = $('#ward_report').find(":selected").text();
        var locationname = $('#location_report').find(":selected").text();
        var dateandtime = $('#datetime_report').val().toString();

        if (zonename != 'Select Zone' && wardname != 'Select Ward' && locationname != 'Select Location') {
            $('#btnExcel').prop("disabled", true);
            // add spinner to button
            $('#btnExcel').html(
                `<span class="spinner-border spinner-border-sm" ></span> Downloading...`
            );

            window.location.href = '/Report/DownloadMonthlyExcel/?Zone=' + zonename + ' &Ward=' + wardname +'&Location=' + locationname+'&ReportType=Monthly&DateAndTime='+dateandtime;
            $('#btnExcel').prop("disabled", false);
            $('#btnExcel').html(
                            `Download`
                        );

        }
        else {
            alert("Please select all inputs to download report");
        }
    }

    function GetWDNHourlyReport() {
        $('#reportHeader').css('display', 'none');
        var zonename = $('#ZoneListReport').find(":selected").text();
        var wardname = $('#ward_report').find(":selected").text();
        var locationname = $('#location_report').find(":selected").text();
        var dateandtime = $('#datetime_report').val().toString();
        var table1 = $("#MonthlyReport_table tbody");
        table1.empty();
        if (zonename != 'Select Zone' && wardname != 'Select Ward' && locationname != 'Select Location') {

            $('#btnLoadReport').prop("disabled", true);
            // add spinner to button
            $('#btnLoadReport').html(
                `<span class="spinner-border spinner-border-sm" ></span> Loading...`
            );
            $.ajax(
                {
                    type: "GET",
                    url: '/Report/GetWDNReport',
                    data: { "Zone": zonename, "Ward": wardname, "Location": locationname, "ReportType": "Monthly", "Datetime": dateandtime },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (res) {
                        $('#btnLoadReport').prop("disabled", false);
                        $('#btnLoadReport').html(
                            `View`
                        );
                        $('#reportHeader').css('display', 'block');
                        console.log(res);
                        var dtime = 'From Date :' + res[29].DateAndTime + '    To Date : ' + res[0].DateAndTime;
                        console.log('');
                        $('#reportDatetime').text(dtime);

                        $('#lblZone').text(zonename);
                        $('#lblWard').text(wardname);
                        $('#lblLocation').text(locationname);

                        @*$('#totalLDQ').html(@ViewBag.LDQSum);
                        $('#avgLDQ').html(@ViewBag.LDQAverage);
                         $('#totalPressure').html(@ViewBag.PressureSum);
                        $('#avgPressure').html(@ViewBag.PressureAverage);*@

                        $('#MonthlyReport_table').DataTable().destroy();

                        console.log(res);
                        table1.empty();
                      //  $('#MonthlyReport_table').DataTable();
                        $('#MonthlyReport_table').DataTable(
                            {

                                "scrollY": "500px",
                                "scrollCollapse": true,
                                "paging": false,
                                buttons: [

                                ]
                            });
                        $('#MonthlyReport_table').DataTable().destroy();

                        $.each(res, function (r) {
                           
                            table1.append("<tr><td>" + res[r].DateAndTime + "</td><td>" + res[r].LDQ.toFixed(2) + "</td><td>" + res[r].PeakPressure.toFixed(2) + "</td></tr>");

                        });

                        @*table1.append("<tr><td>Total</td><td>@ViewBag.LDQSum</td><td>@ViewBag.PressureSum</td></tr>");
                        table1.append("<tr><td>Average</td><td>@ViewBag.LDQAverage</td><td>@ViewBag.PressureAverage</td></tr>");*@
                        //for (var i = res.length-1; i > res.length; i--) {
                        //    table1.append("<tr><td>" + res[i].DateAndTime + "</td><td>" + res[i].LDQ + "</td><td>" + res[i].PeakPressure + "</td></tr>");
                        //}
                       // $('#MonthlyReport_table').DataTable();
                        $('#MonthlyReport_table').DataTable(
                            {

                                "scrollY": "500px",
                                "scrollCollapse": true,
                                "paging": false,
                                buttons: [

                                ]
                            });
                    },

                    error: function (msg) {
                        $('#btnLoadReport').prop("disabled", false);
                        $('#btnLoadReport').html(
                            ``
                        );
                        $('#btnLoadReport').html(
                            `View`
                        );
                        alert(msg.responseText);
                    }
                });
        }
        else {
            alert("Please select all inputs to view report");
        }

    }




</script>


