﻿@model IEnumerable<AMC.Models.WDNWDSReportModel>

@{
    ViewBag.Title = "WDN Report With Parent WDS";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<style>



    .spinner-button {
        border: 2px solid #000;
        display: inline-block;
        padding: 8px 20px 9px;
        font-size: 12px;
        color: #000;
        background-color: transparent
    }
</style>
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">


    <div class="container-fluid mt-2">
        <h4 class="text-center zone-table-title mt-2" style="color: #0462ac; position: inherit; ">WDN-WDS Report</h4>

        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    Zone :
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.DropDownList("ZoneListReport", item.ReportZoneList, new { @class = "form-control" })

                        }
                    }
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    Parent WDS :
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.DropDownList("parentwds_report", item.ReportParentWDSList, new { @class = "form-control" })

                        }
                    }
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    Ward :
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.DropDownList("ward_report", item.ReportWardList, new { @class = "form-control" })

                        }
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    Location :
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.DropDownList("location_report", item.ReportLocationList, new { @class = "form-control" })

                        }
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    Date And Time :
                    <input type="text" name="date" id="datetime_report" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <button id="btnLoadReport" class="btn btn-success" style="margin-top: 22px;" onclick="GetWDNReportByParentWDS();">View</button>
                <button class="btn btn btn-success" id="btnExcel" onclick="GetExcel();" style="margin-top: 22px;">Download</button>

            </div>
        </div>
    </div>
    <br /><br />
    <div>

        <div id="reporthourly1">

            <div id="reportHeader" class="row ">
                <div class="row">
                    <div class="col-md-1">
                        Client  :
                    </div>
                    <div class="col-md-4">
                        Smart City Ahmedabad Development Limited (SCADAL)
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Agency   :
                        </div>
                        <div class="col-md-4">
                            Chetas Control Systems Pvt Ltd Pune
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Report Type   :
                        </div>
                        <div class="col-md-4">
                            WDN With Parent WDS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Report Date   :
                        </div>
                        <div class="col-md-4">
                            <label id="reportDatetime"></label>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-md-3">
                                Zone   :<label id="lblZone"></label>
                            </div>
                            <div class="col-md-3">
                                Ward   :<label id="lblWard"></label>
                            </div>
                            <div class="col-md-3">
                                Location   :<label id="lblLocation"></label>
                            </div>*@
                    </div>
                    <br />
                </div>
                <table class="table table-striped table-bordered" id="WDNDetailsWithParentWDSReport_table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Zone</th>
                            <th>Parent WDS</th>
                            <th>Ward</th>
                            <th>WDS Outlet Volume (m3)</th>
                            <th>WDN Location</th>
                            <th>Diameter (mm)</th>
                            <th>Totaliser (m3)</th>
                            <th>Reverse Totaliser (m3)</th>
                            <th>Flow (m3)</th>
                            <th>CDQ (m3)</th>
                            <th>LDQ (m3)</th>
                            <th>Reverse CDQ (m3)</th>
                            <th>Reverse LDQ (m3)</th>
                            <th>Pressure (PSI)</th>
                            <th>Voltage (VDC)</th>
                            <th>Power Status</th>
                            <th>Door Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>



            </div>

        </div>

    </div>
</main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>


    $("#ZoneListReport").change(function () {

        //var zone = $("#ZoneListReport").val();
        var zone = $('#ZoneListReport').find(":selected").text();
        $.ajax({
            type: 'GET',
            //url: "/Dashboard/GetwardByzonenad",
            url: "/Report/GetParentWDSByZone",
            data: { "Zone": zone, },
            dataType: "json",
            success: function (result) {
                console.dir(result);

                $("#parentwds_report").empty();
                $("#ward_report").empty();
                $("#ward_report").append($("<option/>", { text: "All" }));
                $("#location_report").empty();
                $("#location_report").append($("<option/>", { text: "All" }));
                for (var i = 0; i < result.length; i++) {
                    $("#parentwds_report").append($("<option/>", { "value": result[i].Id, text: result[i].ParentWDS }));
                }
            },
            error: function (e) {
                alert("Error:Unable to load data from server");
            }

        });
    });
    $("#parentwds_report").change(function () {
        var parentWDS = $('#parentwds_report').find(":selected").text();
        //var ward = $('#ward_report').find(":selected").text();
        //var zone = $('#ZoneListReport').find(":selected").text();

        $.ajax({
            type: 'GET',
            url: "/Report/GetWardByParentWDS",
            data: { "ParentWDS": parentWDS },
            dataType: "json",
            success: function (result) {
                console.dir(result);
                $("#ward_report").empty();
                $("#location_report").empty();
                $("#location_report").append($("<option/>", { text: "All" }));
                for (var i = 0; i < result.length; i++) {
                    $("#ward_report").append($("<option/>", { "value": result[i].Id, text: result[i].Ward }));
                }
            },
            error: function (e) {
                alert("Error:Unable to load data from server");
            }

        });
    });
    $("#ward_report").change(function () {

        var parentWDS = $('#parentwds_report').find(":selected").text();
        var ward = $('#ward_report').find(":selected").text();
        var zone = $('#ZoneListReport').find(":selected").text();

        $.ajax({
            type: 'GET',
            url: "/Report/GetWDNLocationsByWard",
            data: { "parentWDS": parentWDS, "ward": ward },
            dataType: "json",
            success: function (result) {
                console.dir(result);
                $("#location_report").empty();
                for (var i = 0; i < result.length; i++) {
                    $("#location_report").append($("<option/>", { "value": result[i].Id, text: result[i].Location }));
                }
            },
            error: function (e) {
                alert("Error:Unable to load data from server");
            }

        });
    });


</script>

<script>
    $('#datetime_report').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        startDate: moment().startOf('minute').add(1, 'minute'),
        locale: {
            format: 'DD-MMM-YYYY HH:mm'
        }
    });
</script>


@*<script src="https://cdn.jsdelivr.net/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>*@
<script type="text/javascript">

    function GetExcel() {
        var zonename = $('#ZoneListReport').find(":selected").text();
        var parentwds = $('#parentwds_report').find(":selected").text();
        var wardname = $('#ward_report').find(":selected").text();
        var locationname = $('#location_report').find(":selected").text();
        var dateandtime = $('#datetime_report').val().toString();


        $('#btnExcel').prop("disabled", true);
        // add spinner to button
        $('#btnExcel').html(
            `<span class="spinner-border spinner-border-sm" ></span> Downloading...`
        );

        window.location.href = '/Report/DownloadWDNReportWithParentWDSExcel/?Zone=' + zonename + ' &ParentWDS=' + parentwds + ' &Ward=' + wardname + '&Location=' + locationname + '&Datetime=' + dateandtime;
        $('#btnExcel').prop("disabled", false);
        $('#btnExcel').html(
            `Download`
        );


    }

    function GetWDNReportByParentWDS() {
        $('#reportHeader').css('display', 'none');
        var zonename = $('#ZoneListReport').find(":selected").text();
        var parentwds = $('#parentwds_report').find(":selected").text();
        var wardname = $('#ward_report').find(":selected").text();
        var locationname = $('#location_report').find(":selected").text();
        var dateandtime = $('#datetime_report').val().toString();
        var table1 = $("#WDNDetailsWithParentWDSReport_table tbody");
        table1.empty();

        $('#btnLoadReport').prop("disabled", true);
        // add spinner to button
        $('#btnLoadReport').html(
            `<span class="spinner-border spinner-border-sm" ></span> Loading...`
        );
        $.ajax(
            {
                type: "GET",
                url: '/Report/GetWDNReportWithParentWDSDetails',
                data: { "Zone": zonename, "ParentWDS": parentwds, "Ward": wardname, "Location": locationname, "Datetime": dateandtime },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (res) {
                    $('#btnLoadReport').prop("disabled", false);
                    $('#btnLoadReport').html(
                        `See Report`
                    );
                    $('#reportHeader').css('display', 'block');
                    console.log(res);
                    var dtime = dateandtime;
                    console.log('');
                    $('#reportDatetime').text(dtime);


                    $('#WDNDetailsWithParentWDSReport_table').DataTable().destroy();

                    console.log(res);
                    table1.empty();
                    $('#WDNDetailsWithParentWDSReport_table').DataTable(
                        {
                            "scrollX": "500px",
                            "scrollY": "500px",
                            "scrollCollapse": true,
                            "paging": false,
                            buttons: [

                            ]
                        });
                    $('#WDNDetailsWithParentWDSReport_table').DataTable().destroy();

                    $.each(res, function (r) {
                        var srNo = r + 1;
                        table1.append("<tr><td>" + srNo + "</td><td style=\"text-align: left;\">" + res[r].Zone + "</td><td style=\"text-align: left;\">" + res[r].ParentWDS + "</td><td style=\"text-align: left;\">" + res[r].Ward + "</td><td>" + res[r].WDSOutletVolume.toFixed(2) + "</td><td style=\"text-align: left;\">" + res[r].LocationName + "</td><td>" + res[r].Diameter.toFixed(0) + "</td><td>" + res[r].Totaliser.toFixed(2) + "</td><td>" + res[r].ReverseTotaliser.toFixed(2) + "</td><td>" + res[r].Flow.toFixed(2) + "</td><td>" + res[r].CDQ.toFixed(2) + "</td><td>" + res[r].LDQ.toFixed(2) + "</td><td>" + res[r].ReverseCDQ.toFixed(2) + "</td><td>" + res[r].ReverseLDQ.toFixed(2) + "</td><td>" + res[r].Pressure.toFixed(2) + "</td><td>" + res[r].BatteryVoltage.toFixed(2) + "</td><td style=\"text-align: left;\">" + res[r].PowerStatus + "</td><td style=\"text-align: left;\">" + res[r].DoorStatus + "</td></tr>");

                    });


                    $('#WDNDetailsWithParentWDSReport_table').DataTable(
                        {
                            "scrollX": "500px",
                            "scrollY": "500px",
                            "scrollCollapse": true,
                            "paging": false,
                            buttons: [

                            ]
                        });
                },

                error: function (msg) {
                    $('#btnLoadReport').prop("disabled", false);
                    $('#btnLoadReport').html(
                        ``
                    );
                    $('#btnLoadReport').html(
                        `See Report`
                    );
                    alert(msg.responseText);
                }
            });


    }




</script>


