﻿@model IEnumerable<AMC.Models.WardModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center zone-table-title">Ward List</h4>
                <button class="btn btn-primary" id="but_add" value="Add">Create</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table id="ward-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Ward ID</th>
                            <th>Ward Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td>
                                    @Html.DisplayFor(modelItem => item.WardID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WardName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" id="wardform" action="#">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Ward</h5>
                        <button type="button" onclick="closePopup()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="wardname" class="col-form-label">Ward Name:</label>
                            <input type="text" required class="form-control" id="wardname">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="closePopup()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

