﻿
@model IEnumerable<AMC.Models.DeviceModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" id="but_add" value="Add" data-toggle="modal" data-target="#exampleModal">Create</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center device-table-title">Device List</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="device-list" class="table table-striped table-bordered">
                    <thead>

                        <tr>
                            <th>Device ID</th>
                            <th>Device Name</th>
                            <th>Coordinates</th>
                            <th>Is Install</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeviceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Coordinates)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsInstalled)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" id="deviceform" action="#">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Device</h5>
                        <button type="button" onclick="closePopup()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="devicename" class="col-form-label">Device Name:</label>
                            <input type="text" required class="form-control" id="devicename">
                        </div>
                        <div class="form-group">
                            <label for="coordinate" class="col-form-label">Coordinate:</label>
                            <input type="text" required class="form-control" id="coordinatename">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="closePopup()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $("#device-list").SetEditable({
            bootstrap: true,
            columnsEd: "1,2",
            onBeforeDelete: onDelete,
            onEdit: onAddUpdate
            //$addButton: $('#but_add')
        });

        $('#but_add').click(function () {
            //rowAddNewAndEdit('device-list');
            //AddTypesToInput();
            $('#devicename').val('');
            $('#coordinatename').val('');
            $('#exampleModal').modal('show');
        });

        $('#device-list').on('click', '#bEdit', function (e) {
            AddTypesToInput();
        });

        $('#deviceform').on('submit', function (e) {
            $.ajax({
                url: "Device/Add",
                type: "POST",
                data: {
                    DeviceId: 0,
                    DeviceName: $('#devicename').val(),
                    Coordinate: $('#coordinatename').val()

                },
                success: function (res) {
                    if (res) {
                        $('#exampleModal').modal('hide');
                        rowAddNew('device-list', [res.DeviceId, res.DeviceName, res.Coordinate]);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
            return false;
        });

        function AddTypesToInput() {
            var $inputTxt = $($('.input-sm')[0]);
            var txt = $inputTxt.val().trim();
            $inputTxt.attr('type', 'text');
            $inputTxt.attr('required', 'true');
            $inputTxt.val(txt);

            var $input = $($('.input-sm')[1]);
            var val = $input.val().trim();
            $input.attr('type', 'number');
            $input.attr('required', 'true');
            $input.val(val);
        }


        function GetDeviceRowData(but) {
            var tr = but[0];
            var tds = $(tr).children('td');
            var DeviceId = $(tds[0]).html().trim();
            var DeviceName = $(tds[1]).html().trim();
            var Coordinate = $(tds[2]).html().trim();
            // var HintText = $(tds[2]).html().trim();
            return {
                DeviceId: DeviceId,
                DeviceName: DeviceName,
                Coordinate: Coordinate
                //  HintText: HintText
            }
        }

        function onAddUpdate(but) {
            var data = GetDeviceRowData(but);
            if (data.DeviceId) {
                Update(data);
            }
            else {
                AddNew(data, but);
            }
        }

        function AddNew(data, but) {
            $.ajax({
                url: "Device/Add",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res) {
                        var tr = but[0];
                        var tds = $(tr).children('td');
                        $(tds[0]).html(res.DeviceId);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
        }

        function Update(data) {
            $.ajax({
                url: "Device/Update",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res)
                        alert("Edit success");
                    else
                        alert("Edit fail");
                }
            });
        }

        function onDelete(but) {
            var data = GetDeviceRowData(but);

            $.ajax({
                url: "Device/Delete",
                type: "POST",
                data: { id: data.DeviceId },
                success: function (res) {
                    if (res)
                        alert("Delete success");
                    else
                        alert("Delete fail");
                }
            });
        }

    });

    function closePopup() {
        $('#exampleModal').modal('hide');
    }

</script>