﻿
@*@model IEnumerable<AMC.Models.UserVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center user-table-title">User List</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="user-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>Login Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Id</th>
                            <th>Contact Number</th>
                            <th>Zone</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="table-danger">
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoginId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ZoneId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>*@
