﻿@model IEnumerable<AMC.Models.UFWModel>

@{
    ViewBag.Title = "UFW";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<style>
    .text-center {
        text-align: center;
    }


    /*Call to Action*/

    .header-line {
        height: 5px;
        width: 100%;
        content: '';
        display: block;
    }

    .gradient-color-1 {
        background: -webkit-linear-gradient(left,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
        background: linear-gradient(to right,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
    }

    .gradient-color-2 {
        background: #3be8b0;
        background: -webkit-linear-gradient(bottom left,#3be8b0 0,#02ceff 100%);
        background: linear-gradient(to top right,#3be8b0 0,#02ceff 100%);
    }
    /**/
    /*Utility Class*/
    .text-white {
        color: white;
        font-size: 13px;
    }

    .no-margin {
        margin: 0;
    }

    .no-margin-top {
        margin-top: 0;
    }

    .pad-right {
        margin-right: 0.5em;
    }

    .card-primary {
        background-color: #0462ac;
        border-color: #0275d8;
        height: 3rem;
        text-align: center !important;
    }

    .card-text {
        margin-bottom: 10px !important;
        margin-top: 15px !important;
        text-align: center !important;
        font-weight: 700 !important;
    }
    /**/
</style>
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">

   
    <div class="container-fluid mt-2">
        <h4 class="text-center zone-table-title" style="color: #0462ac; position: inherit; ">UFW</h4>

        <table class="table-striped">

            <tr>
                <td style="border: 1px solid #0275d8;">  <h3 class="card-header text-white card-primary ">TOTAL WTP OULLET WATER LDQ (MLD)</h3></td>
                <td rowspan="2" ><img src="https://img.icons8.com/ios-filled/30/4a90e2/minus-math.png" style="margin-top:55px;"/></td>
                <td style="border: 1px solid #0275d8;"> <h3 class="card-header text-white card-primary ">TOTAL WDS  INLET WATER LDQ (MLD) </h3></td>
                <td rowspan="2" ><img src="https://img.icons8.com/office/30/000000/equal-sign.png" style="margin-top:55px;"/></td>
                <td style="border: 1px solid #0275d8;"> <h3 class="card-header text-white card-primary ">UFW LAST Day(MLD) </h3></td>
                <td rowspan="2" ><img src="https://img.icons8.com/ios-filled/30/4a90e2/minus-math.png" style="margin-top:55px;"/></td>
                <td style="border: 1px solid #0275d8;"> <h3 class="card-header text-white card-primary ">Known Consumption (MLD) </h3></td>
                <td rowspan="2" ><img src="https://img.icons8.com/office/30/000000/equal-sign.png" style="margin-top:55px;"/></td>
                <td style="border: 1px solid #0275d8;">  <h3 class="card-header text-white card-primary">UFW (MLD) </h3></td>
            </tr>
            <tr>
                <td style="border: 1px solid #0275d8;">  <p class="card-text">@ViewBag.WTPOutletLDQ</p></td>
                <td style="border: 1px solid #0275d8;">  <p class="card-text">@ViewBag.WDSInletLDQ</p></td>
                <td style="border: 1px solid #0275d8;">  <p class="card-text">@ViewBag.UFWLastDayMLD</p></td>
                <td style="border: 1px solid #0275d8;">  <p class="card-text">@ViewBag.UFWKnownCionsumption</p></td>
                <td style="border: 1px solid #0275d8;">  <p class="card-text">@ViewBag.UFWMLD</p></td>
            </tr>

        </table>

        <div class="row">
            @*<div class="col-md-3">
                <div class="card">
                    <h3 class="card-header text-white card-primary ">TOTAL WTP OULLET WATER QUANTITY  Last Day ( MLD)</h3>
                    <div class="card-block">

                        <p class="card-text">@ViewBag.WTPOutletLDQ</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <h3 class="card-header text-white card-primary ">TOTAL WDS  INLET WATER QUANTITY  Last Day ( MLD) </h3>
                    <div class="card-block">

                        <p class="card-text">@ViewBag.WDSInletLDQ</p>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h3 class="card-header text-white card-primary ">UFW LAST Day( MLD) </h3>
                    <div class="card-block">

                        <p class="card-text">@ViewBag.UFWLastDayMLD</p>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h3 class="card-header text-white card-primary ">Known Consumption (MLD) </h3>
                    <div class="card-block">

                        <p class="card-text">@ViewBag.UFWKnownCionsumption</p>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h3 class="card-header text-white card-primary">UFW (MLD) </h3>
                    <div class="card-block">

                        <p class="card-text">@ViewBag.UFWMLD</p>

                    </div>
                </div>
            </div>*@

            <div class="col-md-4 mt-3">
                <div class="form-group">
                    <!-- <label for="location">Location</label> -->
                    <select class="form-control" id="type2">
                        <option value="0">Select All Locations</option>
                        <option value="1">EASTERN TRUNK MAIN</option>
                        <option value="2">WESTERN TRUNK MAIN</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="ufw_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <label>Sr. No</label>
                            </th>
                            <th>
                                <label>Location Name</label>
                            </th>
                            <th>
                                <label>Locations Tapping From</label>
                            </th>
                            <th>
                                <label>Type</label>
                            </th>
                            <th>
                                <label>Appr. Qty in MLD</label>
                            </th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {


                            <tr>
                                <td style="text-align:left"></td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => item.LocationName)
                                </td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => item.LocationsTappingFrom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QtyInMLD)
                                </td>

                            </tr>
                        }
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <h4> <b>Total</b></h4>
                            </td>
                            <td>
                                <h4> <b>@ViewBag.Total</b></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>

    $(document).ready(function () {
       
        $('#ufw_list').DataTable(
            {
                "order": [[3, "desc"]],
                dom: 'Bfrtip',
                "bPaginate": false,
                buttons: [
                    'excel', 'pdf'
                ]
            }
        );
       
       
        
       
    });
    $("#type2").change(function () {
       
        var type = $('#type2 :selected').text();
        window.location.href = '/Dashboard/UFW/?Type=' + type;
    });
</script>
