﻿@model IEnumerable<AMC.Models.WaterVsEnergyModel>

@{
    ViewBag.Title = "WaterVsEnergy";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}


<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center zone-table-title">Water Vs Energy</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="waterVsEnergy_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 3rem !important;">Sr. No</th>
                            <th style="width: 300px !important;">Zone</th>
                            <th style="width: 20rem !important;">Location Name</th>
                            <th style="width: 300px !important;">Date Time</th>
                            <th style="width: 300px !important;">Unit Consumption (Kwh/M3)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var descripiton = "";
                            var zone = "";
                            if (item.description != null)
                            {
                                var temp = item.description.Split('-');
                                descripiton = temp[1];
                                zone = temp[0];
                            }
                            else
                            {
                                descripiton = "";
                                zone = "";
                            }

                        <tr class="table">
                            <td style=" text-align: left;"></td>
                            <td style=" text-align: left;">
                                @zone
                            </td>
                            <td style=" text-align: left;">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td style=" text-align: left;">
                                @Html.DisplayFor(modelItem => item.LastUpdated)
                            </td>
                            <td style=" text-align: left;">
                                @descripiton
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>

    $(document).ready(function () {
        $('#waterVsEnergy_list').DataTable(
            {
                "order": [[4, "desc"]],
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ]
            }
        );
    });

</script>

<script>
    var addSerialNumber = function () {
        var i = 0
        $('table tr').each(function (index) {
            $(this).find('td:nth-child(1)').html(index - 1 + 1);
        });
    };

    addSerialNumber();
</script>


