﻿@model IEnumerable<AMC.Models.WDSInletOutletLocationModel>

@{
    ViewBag.Title = "GetWDSLocationsByZoneId";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }



    #date-time {
        padding-top: 20px;
    }

    #currentDate {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    #currentTime {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    .bar {
        background-color: #e6e6e6;
        height: 87px;
        width: 100%;
    }

    .align-items-start {
        background-color: #0462ac;
        height: 110px;
        margin-left: -158px;
        width: 131%;
        border-radius: 15px;
    }

    .bg-dark {
        background-color: #0462ac !important;
    }

    .card-body {
        padding: 1rem 2rem;
    }

    .card-title {
        text-align: center;
        color: #000;
    }

    card-title a {
        color: #000;
    }

    .tab {
        text-decoration: underline;
        text-decoration-color: gray;
        margin-left: 27rem;
    }

    .modal-title {
        text-decoration: underline;
        text-decoration-color: gray;
    }

    .text-white {
        font-size: 13px;
    }

    card-header:first-child {
        border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0;
    }

    .card-body {
        text-align: center;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }
</style>
<script src="@Url.Content(" ~/assets/js/chart.min.js")"></script>

<script src="@Url.Content("~/assets/js/highcharts.js" )"></script>
<script src="@Url.Content("~/assets/js/highcharts-more.js" )"></script>
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 bar">

    <div class="container-fluid mt-0 p-0">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label class="header" style="font-weight: 600;font-size: 30px; padding:17px; float: right;">Zonal Water Distribution Station Inlet</label>
            </div>
            <div class="col-6 col-md-4">



                <label class="header" style="font-weight: 600;font-size: 30px; padding:17px; float: right;">@ViewBag.LDRDateTIME</label>


                @*
                    </div>*@
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <select id="ddlZones" class="form-select" aria-label="Default select example" onchange="Refresh(this.value);"></select>
            </div>
            <div class="col-md-8">
                    <button onclick="Redirect();">Zone Overview</button>               
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 dashboar-milestone d-flex text-center p-3 rounded">
                <div class="col-md-4 p-3 milestone-1">
                    <h5>Capacity   @ViewBag.Capacity  MLD</h5>

                </div>

                <div class="col-md-4  p-3 milestone-2">
                  
                    <h5>Current Day Total Supply @ViewBag.CDQ  MLD</h5>
                </div>

                <div class="col-md-4  p-3 milestone-3">

                    <h5>Last Day Total Supply @ViewBag.LDQ  MLD</h5>
                </div>
            </div>
        </div>
        <div class="row mt-4">

            <div class="col-md-12 p-3 ">
                <div class="editor-field">


                </div>
                <div class="col-md-12 d-flex">


                    @*<div class="col-md-4">
                        <a href="@Url.Action("WDSOutletDashboard","WDS")"> <button class="btn btn-primary rounded-pill" style="margin-left:10px;">Zone Overview</button></a>
                    </div>*@
                </div>


            </div>

        </div>

        <div class="row">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {

                    i++;
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <div class="card">
                                    <a href="javascript:;" onclick="openDetailModal('@item.LocationName')">
                                        <h5 class="card-title">@item.LocationName</h5>

                                    </a>


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="" style="padding:5px;">
                                    <div id="@i" width="800" height="800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>
    </div>
</main>

<div class="modal" id="detail_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-3">
                    <!-- Nav pills -->

                    <ul class="nav nav-pills" role="tablist">

                        @*<li class="nav-item">
                                <a class="nav-link active border border-secondary" data-bs-toggle="pill" href="#home">&nbsp; Details &nbsp;</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-secondary" data-bs-toggle="pill" href="#menu1">&nbsp; &nbsp; See &nbsp;&nbsp; </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-secondary" data-bs-toggle="pill" href="#menu2">&nbsp; &nbsp; Water Quality &nbsp;&nbsp; </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-secondary" data-bs-toggle="pill" href="#menu3">
                                    &nbsp;
                                    Export
                                    &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link border border-secondary" data-bs-toggle="pill" onclick="GetPdfFile();">
                                &nbsp;
                                Export
                                &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pdf_content">
                        <table width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td><h4><span id="location_name">0</span></h4></td>
                                    <td style="text-align: right; padding-right: 30px;"><h4> LDR: <span id="LDR_DateTime">0</span></h4></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="home" class="container tab-pane active">
                            <br>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">Inlet Flow (m3/Hr)</th>
                                            <th scope="col">Sump Level (mtr)</th>
                                            <th scope="col">Outlet Flow Rate (m3/Hr)</th>
                                            <th scope="col">Pressure (psi)</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td><span id="InletFlow">0</span></td>
                                            <td><span id="SumpLevel">0</span></td>
                                            <td><span id="OutletFlowRate">0</span></td>
                                            <td><span id="Pressure">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container-fluid" style="padding-bottom: 14px;">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">Sump Capacity (m3)</th>
                                            <th scope="col">Pump Status</th>
                                            <th scope="col">Pump Design (W+S)</th>
                                            <th scope="col">Pump Run</th>
                                            <th scope="col">Intake Source</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td><span id="SumpCapacity">0</span></td>
                                            <td><span id="PumpStatus">0</span></td>
                                            <td><span id="PumpDesign">0</span></td>
                                            <td><span id="PumpRun">0</span></td>
                                            <td><span id="IntakeSource">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<div class="row">
                                        <div class="row row-cols-2 row-cols-lg-3">
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Sump Capacity (m3) </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;"> <span id="SumpCapacity">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Pump Status </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;"> <span id="PumpStatus">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Pump Design (W+S) </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;"> <span id="PumpDesign">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Pump Run </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;"> <span id="PumpRun">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Intake Source </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;"> <span id="IntakeSource">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">KPI</th>
                                            <th scope="col"><span id="KPI_Current">0</span></th>
                                            <th scope="col"> <span id="KPI_prev">0</span></th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td style="color: #0462ac;">Peak Level (MTR)</td>
                                            <td><span id="PeakLevelMTR_Current">0</span></td>
                                            <td><span id="PeakLevelMTR_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;"> Inlet Volume (m3)</td>
                                            <td><span id="InletVolume_Current">0</span></td>
                                            <td><span id="InletVolume_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Outlet Volume (m3)</td>
                                            <td><span id="OutletVolume_Current">0</span></td>
                                            <td><span id="OutletVolume_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Peak Pressure (PSI)</td>
                                            <td><span id="PeakPressure_Current">0</span></td>
                                            <td><span id="PeakPressure_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Total Pumping Hour (HH:MM)</td>
                                            <td><span id="TotalPumpingHour_Current">0</span></td>
                                            <td><span id="TotalPumpingHour_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Unit Consumption (Kwh)</td>
                                            <td><span id="UnitConsumption_Current">0</span></td>
                                            <td><span id="UnitConsumption_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Kwh/M3</td>
                                            <td><span id="KWHM3_Current">0</span></td>
                                            <td><span id="KWHM3_prev">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="menu1" class="container tab-pane fade">
                            <br>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">Date Time</th>
                                            <th scope="col">Capacity (MLD)</th>
                                            <th scope="col"> Net Rate (ML/hr)</th>
                                            <th scope="col">Current Rate (ML/hr)</th>
                                            <th scope="col">Asking Rate (ML/hr)</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td>Wed Nov 24 2021</td>
                                            <td>650</td>
                                            <td>27.00</td>
                                            <td>28670.38</td>
                                            <td>0.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="menu2" class="container tab-pane fade">
                            <br>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">Date Time</th>
                                            <th scope="col">pH</th>
                                            <th scope="col"> Chlorine (ppm)</th>
                                            <th scope="col">Turbidity (NTU)</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td>Wed Nov 24 2021</td>
                                            <td>650</td>
                                            <td>27.00</td>
                                            <td>0.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="menu3" class="container tab-pane fade">
                            <br>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/jspdf/1.2.61/jspdf.min.js"></script>
<script src="@Url.Content("~/assets/js/chart.min.js")"></script>
<script>
    //I did not read up on formatting as in pdf.text(X1, X2,   <------ not sure of how X1 and X2 are used, you can do that
    function Redirect() {
        window.location.href = '/WDS/WDSInletDashboard';
    }

    function GetPdfFile() {
        // $('#export_button_div').css('display', 'none');

        var doc = new jsPDF({
            orientation: 'p',
            //unit: 'in',
            format: [612, 612]
        });
        doc.fromHTML($('#pdf_content').html(), 5, 5, {
            //'width': 450,
            //'elementHandlers': specialElementHandlers
        });

        var x = document.getElementById("location_name").textContent + ".pdf";

        doc.save(x);
        //$('#export_button_div').css('display', 'block');
    }
</script>
<script>var zoneid = '@ViewBag.zoneId'</script>

<script type="text/javascript">

    function openDetailModal(location_name) {

        $("#detail_modal").modal('show');
        $.ajax({
            type: 'GET',
            url: "/WDS/GetWDSDetailsByLocationName?LocationName=" + location_name + "&Type=Inlet",


            success: function (result) {
                console.log(result.list[0].InletFlow);
                $('#LDR_DateTime').html(result.list[0].LDR_DateTime.toString());
                $('#location_name').html(location_name);
                $('#InletFlow').html(result.list[0].InletFlow);
                $('#InletFlow').html(result.list[0].InletFlow);
                $('#SumpLevel').html(result.list[0].SumpLevel);
                $('#OutletFlowRate').html(result.list[0].OutletFlowRate);
                $('#Pressure').html(result.list[0].Pressure);
                $('#SumpCapacity').html(result.list[0].SumpCapacity);
                //$('#PumpStatus').html(result.list[0].PumpStatus);
                //$('#PumpDesign').html(result.list[0].PumpDesign);
                //$('#PumpRun').html(result.list[0].PumpRun);
                if (result.list[0].Pressure != 0) {
                    $('#PumpStatus').html(result.list[0].PumpStatus);
                }
                else {
                    $('#PumpStatus').html("NA");
                }


                if (result.list[0].Pressure != 0) {
                    $('#PumpDesign').html(result.list[0].PumpDesign);
                }
                else {
                    $('#PumpDesign').html("NA");
                }

                if (result.list[0].Pressure != 0) {
                    $('#PumpRun').html(result.list[0].PumpRun);
                }
                else {
                    $('#PumpRun').html("NA");
                }
                $('#IntakeSource').html(result.list[0].IntakeSource);

                $('#KPI_Current').html(result.list[0].KPI_Current);

                $('#PeakLevelMTR_Current').html(result.list[0].PeakLevelMTR_Current);
                $('#InletVolume_Current').html(result.list[0].InletVolume_Current);
                $('#OutletVolume_Current').html(result.list[0].OutletVolume_Current);
                //$('#PeakPressure_Current').html(result.list[0].PeakPressure_Current);
                //$('#TotalPumpingHour_Current').html(result.list[0].TotalPumpingHour_Current);
                if (result.list[0].Pressure != 0) {
                    $('#PeakPressure_Current').html(result.list[0].PeakPressure_Current);
                }
                else {
                    $('#PeakPressure_Current').html("NA");
                }
                if (result.list[0].Pressure != 0) {
                    $('#TotalPumpingHour_Current').html(result.list[0].TotalPumpingHour_Current);
                }
                else {
                    $('#TotalPumpingHour_Current').html("NA");
                }
                $('#UnitConsumption_Current').html(result.list[0].UnitConsumption_Current);
                $('#KWHM3_Current').html(result.list[0].KWHM3_Current);

                $('#KPI_prev').html(result.list[0].KPI_prev);

                $('#PeakLevelMTR_prev').html(result.list[0].PeakLevelMTR_prev);
                $('#InletVolume_prev').html(result.list[0].InletVolume_prev);
                $('#OutletVolume_prev').html(result.list[0].OutletVolume_prev);
                //$('#PeakPressure_prev').html(result.list[0].PeakPressure_prev);
                //$('#TotalPumpingHour_prev').html(result.list[0].TotalPumpingHour_prev);
                if (result.list[0].Pressure != 0) {
                    $('#PeakPressure_prev').html(result.list[0].PeakPressure_prev);
                }
                else {
                    $('#PeakPressure_prev').html("NA");
                }

                if (result.list[0].Pressure != 0) {
                    $('#TotalPumpingHour_prev').html(result.list[0].TotalPumpingHour_prev);
                }
                else {
                    $('#TotalPumpingHour_prev').html("NA");
                }
                $('#UnitConsumption_prev').html(result.list[0].UnitConsumption_prev);
                $('#KWHM3_prev').html(result.list[0].KWHM3_prev);

            },
            error: function (e) {
                alert("Error:Unable to load data from server");
                $("#detail_modal").modal('close');
            }

        });

    }

    //google.charts.load('current', { 'packages': ['bar'] });
    //google.charts.setOnLoadCallback(drawChart);
    //function drawChart(capacity, cdq, ldq, i) {
    //    var data = google.visualization.arrayToDataTable([
    //        ['capacity', 'CDQ', 'LDQ'],
    //        [capacity, cdq, ldq]
    //    ]);
    //    var options = {};
    //    /*   var options = {
    //           chart: {
    //               title: 'Company Performance',
    //               subtitle: 'Sales, Expenses, and Profit: 2014-2017',
    //           }
    //       };
    //       */
    //    var chart = new google.charts.Bar(document.getElementById('' + i));

    //    chart.draw(data, google.charts.Bar.convertOptions(options));
    //}
    $(document).ready(function () {
        $("#mydropdownlist").val(zoneid);

        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: "/WDS/GetWDSLocationsForGraphByZoneId?ZoneId=1",


                success: function (result) {
                    console.dir(result);
                    var list = result.list;
                    var i = 0;
                    $.each(list, function (index, value) {
                        i++;
                        console.log(list);

                        console.log("CDQ=" + list[index].CDQ);
                        console.log("LDQ=" + list[index].LDQ);

                        // drawStuff(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                        drawHiChartForWTPOutlet(list[index].Capacity, list[index].CDQ, list[index].LDQ, i.toString());
                    });
                },
                error: function (e) {
                    alert("Error:Unable to load data from server");
                }

            });
        }, 300);
    });

    function drawStuff(capacity, cdq, ldq, i) {

        var data = new google.visualization.arrayToDataTable([
            ['Move', 'MLD'],
            ["Capacity (MLD)", capacity],
            ["Last Day (MLD)", ldq],
            ["Current Day (MLD)", cdq]

        ]);

        var options = {
            //width: 600,
            legend: { position: 'none' },
            /* chart: {
                 title: 'Chess opening moves',
                 subtitle: 'popularity by percentage'
             },*/
            axes: {
                x: {
                    // 0: { side: 'top', label: 'White to move' } // Top x-axis.
                }
            },
            //bar: { groupWidth: "90%" }
            bar: { groupWidth: "20%" }
        };

        var chart = new google.charts.Bar(document.getElementById('' + i));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));

    };

    function drawHiChartForWTPOutlet(capacity, cdq, ldq, i) {

        const chart = Highcharts.chart(i, {
            chart: {
                type: 'column'
            },
            //title: {
            //    text: 'heading name'
            //},
            //subtitle: {
            //    text: ''
            //},
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },
            xAxis: {
                //categories: ['Capacity', 'CDQ', 'LDQ']
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            series: [{
                name: 'Capacity',
                data: [capacity]
            }, {
                name: 'CDQ',
                data: [cdq]
            }, {
                name: 'LDQ',
                data: [ldq]
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 300
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        }
                    }
                }]
            }
        });



    }
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var ddlZones = $("#ddlZones");
        ddlZones.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/WDS/ZoneListForDropDown",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlZones.empty().append('<option selected="selected" value="0">Please select</option>');
                $.each(response, function () {
                    if (@ViewBag.ZoneId== this['Value']) {
                        ddlZones.append($("<option selected></option>").val(this['Value']).html(this['Text']));
                    } else {
                        ddlZones.append($("<option></option>").val(this['Value']).html(this['Text']));
                    }

                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
<script>
    function Refresh(value) {
        window.location.href = '/WDS/GetWDSLocationsByZoneId/' + value;
    }
</script>
