﻿@model IEnumerable<AMC.Models.WDSModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center wds-table-title">WDS List</h4>
                <button class="btn btn-primary" id="but_add" value="Add">Create</button>
                @*<input type="button" id="but_add" value="Add" />*@
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 ">
                <div class="table-responsive">
                    <table id="wds-list" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>WDS Id</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Capacity</th>
                                <th>Pump Count</th>
                                <th>Coordinates</th>
                                <th>Zone Id</th>
                                <th>Working Pump Count</th>
                                <th>Standby Pump Count</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WDSId)
                                    </td>
                                    <td data-isrequired="true" data-type="text">
                                        @Html.DisplayFor(modelItem => item.WDSName)
                                    </td>
                                    <td data-isrequired="true" data-type="select" data-url="WDS/GetWDSTypes">
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td data-isrequired="true" data-type="number">
                                        @Html.DisplayFor(modelItem => item.Capacity)
                                    </td>
                                    <td data-isrequired="true" data-type="number">
                                        @Html.DisplayFor(modelItem => item.PumpCount)
                                    </td>
                                    <td data-isrequired="true" data-type="number">
                                        @Html.DisplayFor(modelItem => item.Coordinates)
                                    </td>
                                    <td data-isrequired="true" data-type="select" data-url="Zone/Get">
                                        @Html.DisplayFor(modelItem => item.ZoneId)
                                    </td>
                                    <td data-isrequired="true" data-type="number">
                                        @Html.DisplayFor(modelItem => item.WorkingPumpCount)
                                    </td>
                                    <td data-isrequired="true" data-type="number">
                                        @Html.DisplayFor(modelItem => item.StandbyPumpCount)
                                    </td>
                                    @*<td name="buttons"><div class="btn-group pull-right"><button id="bEdit" type="button" class="btn btn-sm btn-default" onclick="butRowEdit(this);" style=""><span class="">  <img src="assets/images/Icon awesome-pen.png" width="18" height="18"> </span></button><button id="bElim" type="button" class="btn btn-sm btn-default" onclick="butRowDelete(this);" style=""><span class=""> <img src="assets/images/Icon material-delete.png" width="15" height="15"></span></button><button id="bAcep" type="button" class="btn btn-sm btn-default" style="display: none;" onclick="butRowAcep(this);"><span class="text-green">Update  <img src="assets/images/Icon material-update.png" width="15" height="15"></span></button><button id="bCanc" type="button" class="btn btn-sm btn-default" style="display: none;" onclick="butRowCancel(this);"><span class=""> X </span></button></div></td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="post" id="wdsform" action="#">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create WDS</h5>
                        <button type="button" onclick="closePopup()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="wdsname" class="col-form-label">Location:</label>
                            <input type="text" required class="form-control" id="wds_name">
                        </div>
                        <div class="form-group">
                            <label for="wds_type" class="col-form-label">Type:</label>
                            @*<input type="text" required class="form-control" id="wds_type">*@
                            <select required class="form-control" id="wds_type"></select>
                        </div>
                        <div class="form-group">
                            <label for="capacity" class="col-form-label">Capacity:</label>
                            <input type="number" required class="form-control" id="capacity">
                        </div>
                        <div class="form-group">
                            <label for="pump_count" class="col-form-label">Pump Count:</label>
                            <input type="text" required class="form-control" id="pump_count">
                        </div>
                        <div class="form-group">
                            <label for="coordinates" class="col-form-label">Coordinates:</label>
                            <input type="text" required class="form-control" id="coordinates">
                        </div>
                        <div class="form-group">
                            <label for="zone_id" class="col-form-label">Zone:</label>
                            @*<input type="text" required class="form-control" id="zone_id">*@
                            <select required class="form-control" id="zone_id"></select>
                        </div>
                        <div class="form-group">
                            <label for="wpump_count" class="col-form-label">Working Pump Count:</label>
                            <input type="text" required class="form-control" id="wpump_count">
                        </div>
                        <div class="form-group">
                            <label for="spump_count" class="col-form-label">Standby Pump Count:</label>
                            <input type="text" required class="form-control" id="spump_count">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button onclick="closePopup()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>

    $(document).ready(function () {
        $('#wds-list').SetEditable({
            bootstrap: true,
            columnsEd: "1,2,3,4,5,6",
            onBeforeDelete: onDelete,
            onEdit: onAddUpdate
            //$addButton: $('#but_add')
        });
        $('#wds-list').DataTable({
            "order": [[0, 'des']]
        });
        $('#but_add').click(function () {
            //rowAddNewAndEdit('device-list');
            //AddTypesToInput();
            $('#wds_name').val('');
            $('#wds_type').val('');
            $('#capacity').val('');
            $('#zone_id').val('');
            $('#pump_count').val('');
            $('#coordinates').val('');
            $('#wpump_count').val('');
            $('#spump_count').val('');
            $('#exampleModal').modal('show');
            loadSelectData('WDS/GetWDSTypes', $('#wds_type'), 0, 'Select Type');
            loadSelectData('Zone/Get', $('#zone_id'), 0, 'Select Zone');
        });
        $('#wdsform').on('submit', function (e) {
            $.ajax({
                url: "WDS/Add",
                type: "POST",
                data: {
                    WDSId: 0,
                    WDSName: $('#wds_name').val(),
                    Type: $('#wds_type').val(),
                    Capacity: $('#capacity').val(),
                    PumpCount: $('#pump_count').val(),
                    Coordinates: $('#coordinates').val(),
                    ZoneId: $('#zone_id').val(),
                    WorkingPumpCount: $('#wpump_count').val(),
                    StandbyPumpCount: $('#spump_count').val()
                },
                success: function (res) {
                    if (res) {
                        $('#exampleModal').modal('hide');
                        rowAddNew('wds-list', [res.WDSId, res.WDSName, res.Type, res.Capacity, res.PumpCount, res.Coordinates,res.ZoneId, res.WorkingPumpCount, res.StandbyPumpCount]);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
            return false;
        });
        function GetWDSRowData(but) {
            var tr = but[0];
            var tds = $(tr).children('td');

            return {
                WDSId: $(tds[0]).html().trim(),
                WDSName: $(tds[1]).html().trim(),
                Type: $(tds[2]).html().trim(),
                Capacity: $(tds[3]).html().trim(),
                PumpCount: $(tds[4]).html().trim(),
                Coordinate: $(tds[5]).html().trim(),
                ZoneId: $(tds[6]).html().trim(),
                WorkingPumpCount: $(tds[7]).html().trim(),
                StandbyPumpCount: $(tds[8]).html().trim()
               // StandbyPumpCount: $('#spump_count').val()
            }
        }
        function onDelete(but) {
            var data = GetWDSRowData(but);

            $.ajax({
                url: "WDS/Delete",
                type: "POST",
                data: { id: data.WDSId },
                success: function (res) {
                    if (res)
                        alert("Delete success");
                    else
                        alert("Delete fail");
                }
            });
        }
        function onAddUpdate(but) {
            var data = GetWDSRowData(but);
            if (data.WTPId) {
                Update(data);
            }
            else {
                AddNew(data, but);
            }
        }
        function AddNew(data, but) {
            $.ajax({
                url: "WDS/Add",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res) {
                        var tr = but[0];
                        var tds = $(tr).children('td');
                        $(tds[0]).html(res.WTPId);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
        }
        function Update(data) {
            $.ajax({
                url: "WDS/Update",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res)
                        alert("Edit success");
                    else
                        alert("Edit fail");
                }
            });
        }
    });
    $(window).on("load", function () {
        $(".dataTables_filter :input").addClass('empty');
    });

    $(document).on('keyup', '.dataTables_filter :input', function () {
        var input = $(".dataTables_filter :input");
        if (input.val().length === 0) {
            input.removeClass('no-icon');
            input.addClass('empty');

        } else {
            input.removeClass('empty');
            input.addClass('no-icon')
        }
    });

    function closePopup() {
        $('#exampleModal').modal('hide');
    }
</script>