﻿@model IEnumerable<AMC.Models.WDSInletOutletLocationModel>

@{
    ViewBag.Title = "GetWDSLocationsByZoneId";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .card-title:hover {
        transform: scale(1.1);
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06); */
    }

    .highcharts-root {
        height: 257px;
        width: 100%;
    }

    .dashboar-milestone {
        height: 4rem;
    }

    .highcharts-title {
        display: none;
    }

    .cardin {
        border: 2px solid rgb(4 95 172);
        border-radius: 1.25rem;
        width: 15rem;
        height: 20rem;
        margin-top: 20px;
    }

        .cardin:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

    .row-cols-2 > * {
        flex: 0 0 auto;
        width: auto;
    }

    #highcharts-5xqjjfb-0 {
        height: 290px;
    }

    .highcharts-yaxis-labels {
        display: none;
    }

    .highcharts-yaxis {
        display: none;
    }

    #date-time {
        padding-top: 20px;
    }

    #currentDate {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    #currentTime {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    .bar {
        background-color: #e6e6e6;
        height: 50px;
        width: 100%;
    }

    .align-items-start {
        background-color: #0462ac;
        height: 110px;
        margin-left: -158px;
        width: 131%;
        border-radius: 15px;
    }

    .bg-dark {
        background-color: #0462ac !important;
    }

    .card-body {
        padding: 1rem 2rem;
    }

    .card-title {
        text-align: center;
        color: #000;
    }

    card-title a {
        color: #000;
    }

    .tab {
        text-decoration: none;
        text-decoration-color: gray;
        margin-left: 27rem;
    }

    .modal-title {
        text-decoration: none;
        text-decoration-color: gray;
    }

    .text-white {
        font-size: 13px;
    }

    card-header:first-child {
        border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0;
    }

    .card-body {
        text-align: center;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }

    .highcharts-legend-item text {
        font-size: 13px
    }

    .highcharts-radial-axis-labels {
        display: none;
    }
</style>

<script src="@Url.Content("~/assets/js/chart.min.js")"></script>
<script src="@Url.Content("~/assets/js/highcharts-2.js" )"></script>
<script src="@Url.Content("~/assets/js/highcharts-more.js" )"></script>
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 bar">

    <div class="container-fluid mt-0 p-0">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label class="header" style="font-weight: 600;font-size: 30px; padding:17px; float: right;">Zonal Water Distribution Station Inlet</label>
            </div>
            <div class="col-6 col-md-4">


                @*<div id="date-time">*@

                @*<input type="text" id="currentDate" disabled>
                    <label>Date</label>

                    <input type="text" id="currentTime" disabled>
                    <label>Time</label>
                    <br />*@

                <label class="header" style="font-weight: 600;font-size: 30px; padding:17px; float: right;">@ViewBag.LDRDateTIME</label>


                @*</div>*@
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row mt-4">
            <div class="col-md-12 dashboar-milestone d-flex text-center p-3 rounded">
                <div class="col-md-4 p-3 milestone-1">
                    <h3>Last Day Total Supply  @ViewBag.Capacity  MLD</h3>

                </div>

                <div class="col-md-4  p-3 milestone-2">
                    <h3>Current Day Total Supply @ViewBag.LDQ  MLD</h3>

                </div>

                <div class="col-md-4  p-3 milestone-3">
                    <h3>Current Day Total Supply @ViewBag.CDQ  MLD</h3>

                </div>
            </div>
        </div>


        <div class="row">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {

                    i++;
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <div class="card">

                                    <h5 class="card-title">@item.LocationName</h5>


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="" style="padding:5px;">
                                    <div id="@i" width="800" height="800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>
</main>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart(capacity, cdq, ldq, i) {
        var data = google.visualization.arrayToDataTable([
            ['capacity', 'CDQ', 'LDQ'],
            [capacity, cdq, ldq]
        ]);
        var options = {};
        /*   var options = {
               chart: {
                   title: 'Company Performance',
                   subtitle: 'Sales, Expenses, and Profit: 2014-2017',
               }
           };
           */
        var chart = new google.charts.Bar(document.getElementById('' + i));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
    $(document).ready(function () {
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: "/WDS/GetWDSLocationsForGraphByZoneId?ZoneId=1",


                success: function (result) {
                    console.dir(result);
                    var list = result.list;
                    var i = 0;
                    $.each(list, function (index, value) {
                        i++;
                        console.log(list);

                        console.log("CDQ=" + list[index].CDQ);
                        console.log("LDQ=" + list[index].LDQ);

                        drawStuff(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                    });
                },
                error: function (e) {
                    alert("Error:Unable to load data from server");
                }

            });
        }, 100);
    });

    function drawStuff(capacity, cdq, ldq, i) {

        var data = new google.visualization.arrayToDataTable([
            ['Move', 'MLD'],
            ["Capacity (MLD)", capacity],
            ["Last Day (MLD)", ldq],
            ["Current Day (MLD)", cdq]

        ]);

        var options = {
            //width: 600,
            legend: { position: 'none' },
            /* chart: {
                 title: 'Chess opening moves',
                 subtitle: 'popularity by percentage'
             },*/
            axes: {
                x: {
                    // 0: { side: 'top', label: 'White to move' } // Top x-axis.
                }
            },
            //bar: { groupWidth: "90%" }
            bar: { groupWidth: "20%" }
        };

        var chart = new google.charts.Bar(document.getElementById('' + i));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));

    };
</script>
