﻿@model IEnumerable<AMC.Models.AlertMailConfigurationModel>

@{
    ViewBag.Title = "Alert Mail Configurations";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<style>
    .zone-table-title {
        left: 0 !important;
    }
</style>

<div class="row">

    <h4 class="text-center zone-table-title">Alert Mail Configurations</h4>

</div>

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">

        <br />

        @*<div class="row">
            <div class="col-md-12">
                <table id="CustomLdq-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.AlertType)</th>
                            <th> @Html.DisplayNameFor(model => model.Zone)</th>
                            <th> @Html.DisplayNameFor(model => model.MailIds)</th>
                            <th> @Html.DisplayNameFor(model => model.MailTime)</th>
                            <th> @Html.DisplayNameFor(model => model.EmailSubject)</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlertType)
                                </td>
                                <td>
                                    <input id="txtZone_@item.Id" value="@item.Zone" style="text-align:center;" />
                                </td>
                                <td>
                                    <input id="txtMailIds_@item.Id" value="@item.MailIds" style="text-align:center;" />
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    <button style="width:230px; color:white;" class="btn btn-info" id="@item.Id" onclick="SetAlertMailConfigValue('@item.Id');">Update</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>*@


        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-6 mt-4">
                    <div class="card">
                        <div class="card-header">
                            @item.AlertType
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="txtEastMailIds_@item.Id" class="col-sm-2 col-form-label">East</label>
                                <div class="col-sm-10">
                                    <input id="txtEastMailIds_@item.Id" value="@item.EastMailIds" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="txtWestMailIds_@item.Id" class="col-sm-2 col-form-label">West</label>
                                <div class="col-sm-10">
                                    <input id="txtWestMailIds_@item.Id" value="@item.WestMailIds" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="txtSouthMailIds_@item.Id" class="col-sm-2 col-form-label">South</label>
                                <div class="col-sm-10">
                                    <input id="txtSouthMailIds_@item.Id" value="@item.SouthMailIds" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="txtNorthMailIds_@item.Id" class="col-sm-2 col-form-label">North</label>
                                <div class="col-sm-10">
                                    <input id="txtNorthMailIds_@item.Id" value="@item.NorthMailIds" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="txtEmailSubject_@item.Id" class="col-sm-2 col-form-label">Email Subject</label>
                                <div class="col-sm-10">
                                    <input id="txtEmailSubject_@item.Id" value="@item.EmailSubject" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="txtMailTime_@item.Id" class="col-sm-2 col-form-label">Mail Time</label>
                                <div class="col-sm-10">
                                    <input type="time" id="txtMailTime_@item.Id" value="@item.MailTime.ToString("HH:mm")" class="form-control">
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button style="width:230px; color:white;" class="btn btn-info" id="Update_@item.Id" onclick="SetAlertMailConfigValue('@item.Id');">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>


</main>

<script>


    function SetAlertMailConfigValue(idName) {

        var EastMailIds = $('#txtEastMailIds_' + idName).val();
        var WestMailIds = $('#txtWestMailIds_' + idName).val();
        var SouthMailIds = $('#txtSouthMailIds_' + idName).val();
        var NorthMailIds = $('#txtNorthMailIds_' + idName).val();
        var EmailSubject = $('#txtEmailSubject_' + idName).val();
        var MailTime = $('#txtMailTime_' + idName).val();

        $.ajax({
            type: 'POST',
            url: "/Setting/SetAlertMailConfigValue?Id=" + idName + "&EastMailIds=" + EastMailIds + "&WestMailIds=" + WestMailIds + "&SouthMailIds=" + SouthMailIds + "&NorthMailIds=" + NorthMailIds + "&EmailSubject=" + EmailSubject + "&MailTime=" + MailTime,

            success: function (data) {
                if (data.list === true) {
                    alert("Successfully value changed");
                }
                else {
                    alert("Error:Unable to set value");
                }
                location.reload();
            },
            error: function (e) {
                alert("Error:Unable to set value");

            }

        });
    }
</script>