﻿@model IEnumerable<AMC.Models.AlertMailConfigurationSettingModel>

@{
    ViewBag.Title = "AlertMailConfigurationSetting";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<style>
    .mrg {
        margin-top: 10px;
    }

    .mrg20 {
        margin-top: 20px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">

    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <h1>Alert Mail Configuration</h1>
            </div>
        </div>


        <div class="row" style="background:#3fa1e9;">
            <h4 style="margin-top:5px; color:white"> <i class="fa fa-spinner w3-spin" style="font-size:24px"></i>  Note : Do not forget to <b>Restart Application</b> once a mail settings are modified.</h4>

        </div>


    </div>

    <div class="container-fluid mt-1">
        <div class="row">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'mailSetting')">Settings</button>
                <button class="tablinks" onclick="openTab(event, 'mailList')">List</button>
            </div>
            <div class="container-fluid tabcontent" id="mailSetting" style="display:block;">
                <br />
                <div class="row">
                    <div class="col-md-1 mrg20">Mail Type :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control mrg" id="ddlAlertTypes" onchange="GetAlertDetails();">
                                <option value="0">Select Mail Type</option>
                                <option value="1">Tamper Alert</option>
                                <option value="2">Water Pressure Alert</option>
                                <option value="3">Water Quality Alert</option>
                                <option value="4">Power Cut Alert</option>
                                <option value="5">Commincation Fail Alert</option>
                                <option value="6">Flow Deviation Alert</option>
                                <option value="7">Pumping Hours Alert</option>
                                <option value="8">Zero flow Alert</option>
                                <option value="9">Battery Voltage Alert</option>
                                <option value="10">Consolidated WDS LDQ Report</option>
                                <option value="11">Consolidated WDN LDQ Report</option>
                                <option value="12">WDN with ParentWDS Report</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 mrg20">Zone Name :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control mrg" id="ddlAlertZones" onchange="GetAlertDetails();">
                                <option value="0">Select Zone</option>
                                <option value="1">North</option>
                                <option value="2">South</option>
                                <option value="3">East</option>
                                <option value="4">Central</option>
                                <option value="5">West</option>
                                <option value="6">New West</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 mrg20">Mail Time :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="time" id="mailTime" class="form-control mrg">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 mrg20">Mail To :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="mailTo" name="mailTo" class="form-control mrg">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 mrg20">Mail CC :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="mailCC" name="mailCC" class="form-control mrg">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 mrg20">Mail BCC :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="mailBCC" name="mailBCC" class="form-control mrg">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 mrg20">Subject :</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="mailSubject" name="mailSubject" class="form-control mrg">
                        </div>

                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-1 mrg20">Body :</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="message" rows="10" cols="30" class="form-control mrg"></textarea>
                            </div>

                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="col-md-1 form-control  col-md-offset-1  btn btn-primary mb-2 mrg" id="SaveConfiguration" onclick="SaveConfiguration();"> Save </button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="container-fluid tabcontent" id="mailList">
                <div class="row">
                    <div class="col-md-12">
                        <table id="ufw_list" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <label>Sr. No</label>
                                    </th>
                                    <th>
                                        <label>Alert Name</label>
                                    </th>
                                    <th>
                                        <label>Zone Name</label>
                                    </th>
                                    <th>
                                        <label>Mail Time</label>
                                    </th>
                                    <th>
                                        <label>Mail Subject</label>
                                    </th>
                                    <th>
                                        <label>Mail To</label>
                                    </th>
                                    <th>
                                        <label>Mail CC</label>
                                    </th>
                                    <th>
                                        <label>Mail BCC</label>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center">@Html.DisplayFor(modelItem => item.SrNo)</td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.AlertName)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.ZoneName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.mailTime)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailTo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailCC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailBCC)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>


<script>

    function SaveConfiguration() {

        var alertname = $('#ddlAlertTypes :selected').text();
        var Zone = $('#ddlAlertZones :selected').text();
        var mailTime = $('#mailTime').val();
        var mailTo = $('#mailTo').val();
        var mailCC = $('#mailCC').val();
        var mailBCC = $('#mailBCC').val();
        var subject = $('#mailSubject').val();
        if (alertname === 'Select Alert Type' || Zone == 'Select Zone') {
        }
        else {
            $('#SaveConfiguration').prop("disabled", true);
            // add spinner to button
            $('#SaveConfiguration').html(
                `<span class="spinner-border spinner-border-sm" ></span> Saving...`
            );

            $.ajax({
                type: "POST",
                url: "/Setting/SetAlertMailConfigurationSetting?alertname=" + alertname + "&zone=" + Zone + "&mailtime=" + mailTime + "&mailto=" + mailTo + "&mailcc=" + mailCC + "&mailbcc=" + mailBCC + "&subject=" + subject,

                success: function (data) {

                    alert("Mail Configuration saved for " + alertname + "& zone " + Zone);
                    $('#SaveConfiguration').prop("disabled", false);
                    $('#SaveConfiguration').html(
                        `<span class="btn btn-primary"></span> Save`
                    );
                    window.location.reload();
                }
            });
        }
    }

    function GetAlertDetails() {
        var mailTo = $('#mailTo').val("");
        var mailCC = $('#mailCC').val("");
        var mailBCC = $('#mailBCC').val("");
        var subject = $('#mailSubject').val("");
        var alertname = $('#ddlAlertTypes :selected').text();
        var Zone = $('#ddlAlertZones :selected').text();
        if (alertname === 'Select Alert Type' || Zone == 'Select Zone') {
        }
        else {

            $.ajax({
                type: "POST",
                url: "/Setting/GetAlertMailConfigurationDetails?alertname=" + alertname + "&zone=" + Zone,

                success: function (result) {
                    var mailTo = $('#mailTime').val(result.list[0].mailTime);
                    var mailTo = $('#mailTo').val(result.list[0].MailTo);
                    var mailCC = $('#mailCC').val(result.list[0].MailCC);
                    var mailBCC = $('#mailBCC').val(result.list[0].MailBCC);
                    var subject = $('#mailSubject').val(result.list[0].subject);
                }
            });
        }
    }

    function openTab(evt, Name) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(Name).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function () {

        $('#ufw_list').DataTable(
            {
                "order": [[3, "desc"]],
                dom: 'Bfrtip',
                "bPaginate": false,
                buttons: [
                    'excel', 'pdf'
                ]
            }
        );




    });
</script>