﻿@model IEnumerable<AMC.Models.LDQCustomSettingModel>

@{
    ViewBag.Title = "LDQCustomSetting";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h4 class="text-center zone-table-title">LDQ Custom Settings</h4>
    </div>
</div>

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">

        <br />

        <div class="row">
            <div class="col-md-12">
                <table id="CustomLdq-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.LDQPropertyName)</th>
                            <th> @Html.DisplayNameFor(model => model.LDQValues)</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LDQPropertyName)
                                </td>
                                <td>
                                   <input id="@item.LDQPropertyName.Replace(" ","")" value="@item.LDQValues" style="text-align:center;" />
                                </td>
                                <td>
                                    @if (item.LDQPropertyName == "WDN Live Locations")
                                    {
                                        <button style="width:230px; color:white;" class="btn btn-info" id="@item.LDQPropertyName.Replace(" ","")" onclick="SetCustomLDQValue('@item.LDQPropertyName','@item.LDQPropertyName.Replace(" ","")');">Change @item.LDQPropertyName Count</button>
                                    }
                                    else
                                    {
                                        <button style="width:230px; color:white;" class="btn btn-info" id="@item.LDQPropertyName.Replace(" ","")" onclick="SetCustomLDQValue('@item.LDQPropertyName','@item.LDQPropertyName.Replace(" ","")');">Change @item.LDQPropertyName LDQ</button>
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>

<script>
    function SetCustomLDQValue(propertyName, idName) {
       
        var ldq = $('#' + idName).val();          
        $.ajax({
            type: 'POST',
            url: "/Setting/ChangeLDQValue?PropertyName=" + propertyName+"&value=" + ldq,

            success: function (data) {
                if (data.list === true) {
                    alert("Successfully value changed");
                }
                else {
                    alert("Error:Unable to set value");
                }
                location.reload();
            },
            error: function (e) {
                alert("Error:Unable to set value");
               
            }

        });
    }
</script>