﻿@model IEnumerable<AMC.Models.WDNSynchronisationModel>
@{
    ViewBag.Title = "Synchronization Tool";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<style>
   
  

    .spinner-button {
        border: 2px solid #000;
        display: inline-block;
        padding: 8px 20px 9px;
        font-size: 12px;
        color: #000;
        background-color: transparent
    }

   

   
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/jspdf/1.2.61/jspdf.min.js"></script>

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
                <h1 >Data Synchronisation</h1>
            </div>
        </div>



    </div>
    <div class="container-fluid ">
        <br />
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @*<label for="synTy" style="margin:15px;">Sync. Type </label>*@
                    <select class="form-control" id="syncTypes">
                        <option value="0">Select Synchronization</option>
                        <option value="1">Synch WDN</option>
                        <option value="2">Synch WDS And WTP</option>
                        <option value="3">Synch Alarm Data</option>
                        <option value="4">Synch Pump Status</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <label for="datetime1" style="margin:15px;">Start Date Time</label>
                    <input type="text" name="date" id="startTime" class="form-control" />
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="form-groupr">
                <label for="datetime2" style="margin:15px;">End Date Time</label>
                
                <input type="text" name="date" id="endTime" class="form-control" />
            </div>
        </div>
    </div>


    <br />

    <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="form-groupr">
                <button class="col-md-2 form-control  col-md-offset-2  btn btn-primary mb-2" id="SyncData" onclick="SyncData();"> Run </button>
            </div>
        </div>
    </div>
    
</main>

<script>
    $('#startTime').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        startDate: moment().startOf('minute').add(-1, 'minute'),
        locale: {
            format: 'DD-MMM-YYYY HH:mm'
        }
    });
    $('#endTime').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        startDate: moment().startOf('minute').add(+1, 'minute'),
        locale: {
            format: 'DD-MMM-YYYY HH:mm'
        }
    });

    function SyncData() {
       
        var SyncType = $('#syncTypes :selected').text();
        var start = $('#startTime').val().toString();
        var end = $('#endTime').val().toString();
        if (SyncType === 'Select Synchronization') {
            alert("Select Synchronization type");
        }
        else {
            $('#SyncData').prop("disabled", true);
            // add spinner to button
            $('#SyncData').html(
                `<span class="spinner-border spinner-border-sm" ></span> Running...`
            );

            $.ajax({
                type: "POST",
                url: "/Setting/RunSynchronization?startDate=" + start + "&endDate=" + end + "&Type=" + SyncType,

                success: function (data) {
                    
                    $('#SyncData').prop("disabled", false);
                    $('#SyncData').html(
                        `<span class="btn btn-primary"></span> Run`
                    );
                    if (data.list === true) {
                        alert("Sync. Completed for " + start + " to " + end + " duration");
                    }
                    else {
                        alert("Unable to synchronise data");
                    }

                }
            });
        }
    }
</script>