﻿@model IEnumerable<AMC.Models.WaterQualitySettingModel>

@{
    ViewBag.Title = "LDQCustomSetting";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<style>
    .zone-table-title {
        left: 0 !important;
    }

</style>

<div class="row">
    
        <h4 class="text-center zone-table-title">Water Quality Configuration Settings</h4>
    
</div>

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">

        <br />

        <div class="row">
            <div class="col-md-12">
                <table id="CustomLdq-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.PropertyName)</th>
                            <th> @Html.DisplayNameFor(model => model.Min)</th>
                            <th> @Html.DisplayNameFor(model => model.Max)</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropertyName)
                                </td>
                                <td>
                                    <input id="txtmin_@item.PropertyName.Replace(" ", "")" value="@item.Min" style="text-align:center;" />
                                </td>
                                <td>
                                    <input id="txtmax_@item.PropertyName.Replace(" ", "")" value="@item.Max" style="text-align:center;" />
                                </td>
                                <td>
                                    <button style="width:230px; color:white;" class="btn btn-info" id="@item.PropertyName.Replace(" ", "")" onclick="SetWaterQualityValue('@item.PropertyName','@item.PropertyName.Replace(" ", "")');">Set @item.PropertyName </button>
                                </td>
                            </tr>
                            if (item.PropertyName== "Turbidity")
                            {
                                <tr>
                                    <td>
                                        Time to run water quality analysis
                                    </td>
                                    <td colspan="2">
                                        <input type="time" min="00:00" max="23:59" value="@item.TimeToRun" name="txtTime" id="txtTime" class="form-control" style="width: 175px;text-align: center; margin-left:85px;"/>
                                    </td>
                                    <td>
                                        <button style="width:230px; color:white;" class="btn btn-info" id="btnSetTime" onclick="SetWaterQualityTime();">Set Time </button>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>

<script>


    function SetWaterQualityValue(propertyName, idName) {

        var Min = $('#txtmin_' + idName).val();
        var Max = $('#txtmax_' + idName).val();
        $.ajax({
            type: 'POST',
            url: "/Setting/SetWaterQualityValue?PropertyName=" + propertyName + "&min=" + Min + "&max=" + Max,

            success: function (data) {
                if (data.list === true) {
                    alert("Successfully value changed");
                }
                else {
                    alert("Error:Unable to set value");
                }
                location.reload();
            },
            error: function (e) {
                alert("Error:Unable to set value");

            }

        });
    }

    function SetWaterQualityTime() {

        var time = $('#txtTime').val();
        $.ajax({
            type: 'POST',
            url: "/Setting/SetWaterQualityAnalysisTime?Time=" + time,

            success: function (data) {
                if (data.list === true) {
                    alert("Successfully time changed");
                }
                else {
                    alert("Error:Unable to set value");
                }
                location.reload();
            },
            error: function (e) {
                alert("Error:Unable to set value");

            }

        });
    }


</script>