﻿@model IEnumerable<AMC.Models.WDNReportConfigurationModel>

@{
    ViewBag.Title = "WDN Report Configurations";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<style>
    .zone-table-title {
        left: 0 !important;
    }
</style>

<div class="row">

    <h4 class="text-center zone-table-title">WDN Report Configurations</h4>

</div>

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">


        <div class="row">
            @{
                string[] Zones = { "East", "West", "South", "North" };
                string ElementIds = "";
                string EmailSubject = "";
                DateTime MailTime;
            }

            @foreach (string z in Zones)
            {
                <div class="col-12 mt-4">
                    <div class="card">
                        <div class="card-header">
                            @z
                        </div>
                        <div class="card-body">
                            @foreach (var item in Model)
                            {
                                if (item.Type == "Daily" & item.Zone == @z)
                                {
                                    @:<div class="mb-3 row">
                                        @:<label for="txtWard_@item.Id" class="col-sm-2 col-form-label">@item.Ward</label>
                                        @:<div class="col-sm-10">
                                            @:<input id="txtMailIds_@item.Id" value="@item.MailIds" class="form-control" />
                                        @:</div>
                                    @:</div>
                                    ElementIds = ElementIds + "|" + @item.Id;
                                    EmailSubject = @item.EmailSubject;
                                    MailTime = @item.MailTime;
                                }
                            }
                            <div class="mb-3 row">
                                <label for="txtEmailSubject_@z" class="col-sm-2 col-form-label">Email Subject</label>
                                <div class="col-sm-10">
                                    <input id="txtEmailSubject_@z" value="@EmailSubject" class="form-control" />
                                </div>
                            </div>
                            @*<div class="mb-3 row">
                                <label for="txtMailTime_@z" class="col-sm-2 col-form-label">Mail Time</label>
                                <div class="col-sm-10">
                                    <input type="time" id="txtMailTime_@z" value="@MailTime.ToString("HH:mm")" class="form-control">
                                </div>
                            </div>*@
                            <input id="@z" type="hidden" value="@ElementIds" />

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button style="width:230px; color:white;" class="btn btn-info" id="Update_@z" onclick="SetAlertMailConfigValue('@z', 'txtEmailSubject_@z');">Update</button>
                                @{
                                    ElementIds = "";
                                    EmailSubject = "";
                                }
                            </div>

                        </div>
                    </div>
                </div>
                                    }
        </div>

    </div>


</main>

<script>


    function SetAlertMailConfigValue(idName, EmaSub) {

        var Ids = document.getElementById(idName).value; // $('#East').val();
        const valArray = Ids.split("|");

        var values = "";

        for (let i = 1; i < valArray.length; i++) {
            values += "|";
            values += document.getElementById("txtMailIds_" + valArray[i]).value;
        }

        var EmailSubject = document.getElementById(EmaSub).value;

        $.ajax({
            type: 'POST',
            url: "/Setting/SetWDNReportConfigValue?Ids=" + Ids + "&Values=" + values + "&EmailSubject=" + EmailSubject,

            success: function (data) {
                if (data.list === true) {
                    alert("Successfully value changed");
                }
                else {
                    alert("Error:Unable to set value");
                }
                location.reload();
            },
            error: function (e) {
                alert("Error:Unable to set value");

            }

        });
    }
</script>