﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/dataTables.bootstrap5.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/assets/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/assets/js/dataTables.bootstrap5.min.js")"></script>
    <script src="@Url.Content("~/assets/js/feather.min.js")" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/assets/js/bootstable.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>
    <script src="@Url.Content("~/assets/js/chart.min.js")"></script>
    <script src="@Url.Content("~/assets/js/moment.js")"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//www.google.com/jsapi"></script>
    <style>

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            nav ul li {
                / Sub Menu /
            }

                nav ul li a {
                    display: block;
                    padding: 10px 15px;
                    color: #fff;
                    text-decoration: none;
                    -webkit-transition: 0.2s linear;
                    -moz-transition: 0.2s linear;
                    -ms-transition: 0.2s linear;
                    -o-transition: 0.2s linear;
                    transition: 0.2s linear;
                }

                    nav ul li a:hover {
                        background: #0d6efd !important;
                        color: #fff;
                    }

                    nav ul li a .fa {
                        width: 16px;
                        text-align: center;
                        margin-right: 5px;
                        float: right;
                    }

            nav ul ul {
                background: rgba(0, 0, 0, 0.2);
            }

            nav ul li ul li a {
                border-left: 4px solid transparent;
                padding: 10px 20px;
            }

                nav ul li ul li a:hover {
                    border-left: 4px solid #3498db;
                }
        /*.highcharts-title {
        display:none;
        }*/

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 100%;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            border-radius: 18px;
            animation-duration: 0.4s;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body>

    <header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand bg-primary col-md-1 col-lg-1 me-0 px-3 text-left d-flex" href="#" style="width: 5.333333%; ">
            <button class="navbar-toggler" type="button" aria-controls="sidebarMenu" id="menu-toggle" aria-expanded="false" aria-label="Toggle navigation">
                <img src="@Url.Content("~/assets/images/Burger menu.png")" width="20" height="20" class="img-responsive desktoptoggle_icon">
            </button>
            <!-- <span class="menu-title">Dashboard</span>-->
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid bg-white">
            <div class="row w-100">
                <div class="col-md-2  text-center">
                    <img src="@Url.Content("~/assets/images/save-water-earth.png")" class="img-responsive">
                </div>
                <div class="col-md-8 d-flex">
                    <div class="col-md-10 text-center">
                        <h4 class="text-decoration-none nav-heading mb-0 mt-4 text-primary">Ahmedabad Municipal Corporation - Water Dashboard </h4>
                        <p class="nav-span font-weight-normal">Smart Water Management System Ahamadabad City</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <img src="@Url.Content("~/assets/images/Mask Group 2.png")" class="img-responsive logo-img" width="90" height="90">
                    </div>
                </div>
                <div class="col-md-2 mt-4">
                    <div class="dropdown text-center">
                        <a href="#" class="d-block link-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="@Url.Content("~/assets/images/Ellipse 2.png")" alt="mdo" width="32" height="32" class="rounded-circle">

                            @{
                                var user = HttpContext.Current.User;
                                if (user != null)
                                {
                                    <span> @user.Identity.Name</span>
                                }
                            }
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","Home")">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                // $("#ward-list").SetEditable();
                $('#ward-list').DataTable();
            });


            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });</script>

        <script>
            $(document).ready(function () {
                //  $("#zone-list").SetEditable();
                $('#zone-list').DataTable();
            });


            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });

        </script>

        <script>
            $(document).ready(function () {
                //$('#device-list').SetEditable();
                $('#device-list').DataTable();
            });


            //$(window).on("load", function () {
            //    $(".dataTables_filter :input").addClass('empty');
            //});

            //$(document).on('keyup', '.dataTables_filter :input', function () {
            //    var input = $(".dataTables_filter :input");
            //    if (input.val().length === 0) {
            //        input.removeClass('no-icon');
            //        input.addClass('empty');

            //    } else {
            //        input.removeClass('empty');
            //        input.addClass('no-icon')
            //    }
            //});

        </script>

        <script>
            $(document).ready(function () {
               // $('#wds-list').SetEditable();
                //$('#wds-list').DataTable();
            });


            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });

        </script>

        @*<script>
            $(document).ready(function () {
                $('#wdn-list').SetEditable();
                $('#wdn-list').DataTable();
            });


            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });

        </script>*@

        <script>
            $(document).ready(function () {
                $("#ward-list").SetEditable();
                $('#ward-list').DataTable();
            });

            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });
        </script>

        <script>
            $(document).ready(function () {
                // $("#wtp-list").SetEditable();
                $('#wtp-list').DataTable();
            });

            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });

        </script>

       
        <script>
            $(document).ready(function () {
                $('#wdnmodal-list').DataTable();
                $('#myTab li.nav-item a').on('click', function () {
                    $(this).addClass('active');
                    $(this).closest('ul').find('a').not(this).removeClass('active');
                    var href = $(this).attr('href').split('=');
                    $(href[0]).addClass('show active').siblings().removeClass("show active");;
                    var jump = $(this).prev("a").attr('href');
                });
            });
            $(window).on("load", function () {
                $(".dataTables_filter :input").addClass('empty');
            });

            $(document).on('keyup', '.dataTables_filter :input', function () {
                var input = $(".dataTables_filter :input");
                if (input.val().length === 0) {
                    input.removeClass('no-icon');
                    input.addClass('empty');

                } else {
                    input.removeClass('empty');
                    input.addClass('no-icon')
                }
            });
        </script>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-1 col-lg-1 d-md-block bg-primary sidebar collapse" style="overflow: auto; width: 5.333333%; ">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Dashboard")" data-toggle="tooltip" data-placement="right" title="Dashboard">
                                <img src="@Url.Content("~/assets/images/icon/dashboard.png")" width="30px" height="30px" class="menu-icon mr-3 img-responsive">
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("UFW","Dashboard")" data-toggle="tooltip" data-placement="right" title="UFW (WTP To WDS)">
                                <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="30px" height="30px" class="menu-icon mr-3 img-responsive">
                                <span class="menu-title">UFW (WTP To WDS)</span>
                            </a>
                        </li>

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {

                            if (User.Identity.Name == "superadmin")
                            {

                                <li class="nav-item sub-menu">
                                    <a href="#settings" class="nav-link" data-toggle="tooltip" data-placement="right" title="Configuration Settings">
                                        <img src="https://img.icons8.com/ios/30/ffffff/settings--v1.png" />
                                        <span class="menu-title">Configuration Settings</span>
                                    </a>

                                    <ul>

                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","WTP")" data-toggle="tooltip" data-placement="right" title="Water Treatment Plant">
                                                <img src="@Url.Content("~/assets/images/icon/water-pump.png")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                                <span class="menu-title">Water Treatment Plant</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","WDS")" data-toggle="tooltip" data-placement="right" title="Water Distribution Station">
                                                <img src="@Url.Content("~/assets/images/icon/image_2021_11_23T08_45_03_269Z.png")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                                <span class="menu-title">Water Distribution Station</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","WDN")" data-toggle="tooltip" data-placement="right" title="Water Distribution Network">
                                                <img src="@Url.Content("~/assets/images/icon/water-donation.png")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                                <span class="menu-title">Water Distribution Network</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","Zone")" data-toggle="tooltip" data-placement="right" title="Zone">
                                                <img src="@Url.Content("~/assets/images/icon/location.png")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                                <span class="menu-title">Zone</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","Ward")" data-toggle="tooltip" data-placement="right" title="Ward">
                                                <img src="@Url.Content("~/assets/images/icon/area-with-pins.png")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                                <span class="menu-title">Ward</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","Device")" data-toggle="tooltip" data-placement="right" title="Devices">
                                                <img src="@Url.Content("~/assets/images/icon/water-meter.png")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                                <span class="menu-title">Devices</span>
                                            </a>
                                        </li>
                                        <li class="nav-item sub-menu">
                                            <a href="#settings" class="nav-link" data-toggle="tooltip" data-placement="right" title="Application Settings">
                                                <img src="https://img.icons8.com/external-outline-satawat-anukul/30/ffffff/external-setting-seo-outline-outline-satawat-anukul-2.png" />
                                                <span class="menu-title">Application Settings</span>
                                            </a>

                                            <ul>

                                                <li class="nav-item">
                                                    <a class="nav-link" href="@Url.Action("RunSynchronization","Setting")" data-toggle="tooltip" data-placement="right" title="Synchronization Tool">
                                                        <img src="https://img.icons8.com/ios-filled/20/ffffff/sync-settings.png" />
                                                        <span class="menu-title">Synchronization Tool</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="@Url.Action("LDQCustomSetting","Setting")" data-toggle="tooltip" data-placement="right" title="LDQ Settings">
                                                        <img src=" https://img.icons8.com/ios-filled/20/ffffff/align-bottom.png" />
                                                        <span class="menu-title">LDQ Settings</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="@Url.Action("WaterQualitySetting","Setting")" data-toggle="tooltip" data-placement="right" title="Water Quality Setting ">
                                                        <img src="https://img.icons8.com/stickers/20/ffffff/water.png" />
                                                        <span class="menu-title">Water Quality Setting </span>
                                                    </a>
                                                </li>
                                                @*<li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AlertMailConfigurations","Setting")" data-toggle="tooltip" data-placement="right" title="Water Quality Setting ">
                                        <img src="https://img.icons8.com/ios-filled/20/ffffff/apple-mail.png" />
                                        <span class="menu-title">Alert Mail Configurations </span>
                                    </a>
                                </li>*@
                                                <li class="nav-item">
                                                    <a class="nav-link" href="@Url.Action("AlertMailConfigurationSetting","Setting")" data-toggle="tooltip" data-placement="right" title="Mail Setting ">
                                                        <img src="https://img.icons8.com/ios-filled/20/ffffff/apple-mail.png" />
                                                        <span class="menu-title">Alert Mail Configurations Setting</span>
                                                    </a>
                                                </li>
                                                @*<li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("WDNReportConfiguration","Setting")" data-toggle="tooltip" data-placement="right" title="WDN Report Configuration">
                                        <img src="https://img.icons8.com/ios-filled/20/ffffff/business.png" />
                                        <span class="menu-title">WDN Report Configuration </span>
                                    </a>
                                </li>*@

                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                            }
                        }

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {

                            if (User.Identity.Name == "admin")
                            {
                                <li class="nav-item sub-menu">
                                    <a href="#settings" class="nav-link" data-toggle="tooltip" data-placement="right" title="Configuration Settings">
                                        <img src="https://img.icons8.com/ios/30/ffffff/settings--v1.png" />
                                        <span class="menu-title">Configuration Settings</span>
                                    </a>

                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("AlertMailConfigurationSetting","Setting")" data-toggle="tooltip" data-placement="right" title="Mail Setting ">
                                                <img src="https://img.icons8.com/ios-filled/20/ffffff/apple-mail.png" />
                                                <span class="menu-title">Alert Mail Configurations Setting</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                               
                            }
                        }
                        <li class="nav-item sub-menu">
                            <a href="#settings" class="nav-link" data-toggle="tooltip" data-placement="right" title="Reports">
                                <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="30px" height="30px" class="menu-icon mr-3 img-responsive">
                                <span class="menu-title">Reports</span>
                            </a>

                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("GetHourlyReport","Report")" data-toggle="tooltip" data-placement="right" title="Hourly Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                        <span class="menu-title">Amc Hourly Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("GetMonthlyReport","Report")" data-toggle="tooltip" data-placement="right" title="Monthly Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">
                                        <span class="menu-title">Amc Monthly Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("GetConsolidatedWDNLdqReport","Report")" data-toggle="tooltip" data-placement="right" title="WDN LDQ Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">AMC WDN Consolidated LDQ Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("GetConsolidatedWDSLdqReport","Report")" data-toggle="tooltip" data-placement="right" title="WDN LDQ Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">AMC WDS Consolidated LDQ Report</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("WDNReportWithParentWDS","Report")" data-toggle="tooltip" data-placement="right" title="WDN-WDS Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">AMC WDN - WDS Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link" href="http://amcwdnchetas.dyndns.org:1232/Reports/Pages/Report.aspx?ItemPath=%2fAMC_WDN_REPORT%2fFinalHourlyReviewData" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="Daily Hourly Review Data Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">Daily Hourly Review Data Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://amcwdnchetas.dyndns.org:1232/Reports/Pages/Report.aspx?ItemPath=%2fAMC_WDN_REPORT%2fMonthlyReviewDataReport" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="Monthly Review Data Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">Monthly Review Data Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://amcwdnchetas.dyndns.org:1232/Reports/Pages/Report.aspx?ItemPath=%2fAMC_WDN_REPORT%2fWDN_LDQ_CONSOLIDATE_Report" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="WDN LDQ Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">WDN Consolidated LDQ Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://amcwdnchetas.dyndns.org:1232/Reports/Pages/Report.aspx?ItemPath=%2fAMC_WDN_REPORT%2fWDS+Consolidate+LDQ+Report" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="WDS LDQ Report">
                                        <img src="@Url.Content("~/assets/images/icon/Report.svg")" width="20px" height="20px" class="menu-icon mr-3 img-responsive">

                                        <span class="menu-title">WDS Consolidated LDQ Report</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sub-menu">
                            <a href="#settings" class="nav-link" data-toggle="tooltip" data-placement="right" title="SCADA">
                                <img src="https://img.icons8.com/external-itim2101-lineal-itim2101/30/ffffff/external-configuration-computer-itim2101-lineal-itim2101.png" />
                                <span class="menu-title">SCADA</span>
                            </a>

                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://182.74.132.190/FTVP/ViewPoint.aspx?area=/&cmd=%22PLANT%20OVERVIEW%22&prev=KO_OVERVIEW&preparam=" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="WDS SCADA">
                                        <img src="https://img.icons8.com/external-itim2101-lineal-itim2101/20/ffffff/external-configuration-computer-itim2101-lineal-itim2101.png" />

                                        <span class="menu-title">WDS SCADA</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://amcwdnchetas.dyndns.org//ftvp" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="WDN SCADA">
                                        <img src="https://img.icons8.com/external-itim2101-lineal-itim2101/20/ffffff/external-configuration-computer-itim2101-lineal-itim2101.png" />

                                        <span class="menu-title">WDN SCADA</span>
                                    </a>
                                </li>
                            </ul>
                        </li>





                        <li class="nav-item sub-menu">
                            <a href="#settings" class="nav-link" data-toggle="tooltip" data-placement="right" title="Help">
                                <img src="https://img.icons8.com/fluency/30/ffffff/help.png" />
                                <span class="menu-title">Help</span>
                            </a>

                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="" target="_blank" style="target-new: tab;" data-toggle="tooltip" data-placement="right" title="Abbrivation">
                                        <img src="https://img.icons8.com/ios/20/ffffff/info--v3.png" />

                                        <span class="menu-title">Abbrivation</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="tooltip" data-placement="right" title="Restart Application" onclick="RestartApp();">
                                <img src="https://img.icons8.com/cute-clipart/20/ffffff/restart.png" />
                                <span class="menu-title">Restart Application</span>
                            </a>
                        </li>

                        @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","User")" data-toggle="tooltip" data-placement="right" title="User">
                <img src="@Url.Content("~/assets/images/icon/Usericon.png")" width="45px" height="45px" class="menu-icon mr-3 img-responsive">
                <span class="menu-title">Users</span>
            </a>
        </li>*@
                    </ul>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>


  
    
    
  
</body>
</html>



<script>
    $('.sub-menu ul').hide();
    $(".sub-menu a").click(function () {
        $(this).parent(".sub-menu").children("ul").slideToggle("100");
        $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
    });
    function RestartApp() {
        $.ajax({
            type: "GET",
            url: "/Setting/RestartApplication?alertname",

            success: function (data) {
            }
        });
    }
</script>
