﻿<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>@ViewBag.Title</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

    

    <!-- Bootstrap core CSS -->
<link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">
<link href="@Url.Content("~/assets/css/style_new.css")" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      header{
        position: relative;
      }
      /* main
        background-image: url(assets/images/hero-keyframe.png);
      position: fixed; 
        bottom: 0;
        height: 90vh;
      } */
     
      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>    
  </head>
  <body>
    
<header class="header flex-md-nowrap p-0" >
  <div class="container bg-white" >
    <div class="row w-100">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img src="@Url.Content("~/assets/images/save-water-earth.png")" class="img-responsive">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="text-decoration-none nav-heading-form mb-0 mt-4">Ahmedabad Municipal Corporation - Water Dashboard</h4>
            <p class="nav-span-login font-weight-normal">Smart Water Management System Ahamadabad City</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img src="@Url.Content("~/assets/images/AMC_Logo_new copy.png")" class="img-responsive logo-login">
      </div>
    </div>
  </div>

</header>
    <main style="background-image: url(@Url.Content("~/assets/images/hero-keyframe.png")); position: initial; 
    bottom: 0;
    height: 100vh;">
     @RenderBody()
    </main>
    <script src="@Url.Content("~/assets/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>
  </body>
</html>
