﻿
@model IEnumerable<AMC.Models.WDNModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center wdn-table-title">WDN List</h4>
                <button class="btn btn-primary" id="but_add" value="Add">Create</button>
                @*<input type="button" id="but_add" value="Add" />*@
            </div>
        </div>
        <br />
     
        <div class="row">
            <div class="col-md-12">
                <table id="wdn-list" class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>WDN Id</th>
                            <th>WDN Unique ID</th>
                            <th>ZoneId</th>
                            <th>WardId</th>
                            <th>WDSId </th>
                            <th>Location</th>
                            <th>LineSize</th>
                            <th>PLC IP Address</th>
                            <th>CDQNet</th>
                            <th>CDQNegative</th>
                            <th>LDQNet</th>
                            <th>LDQNegative</th>
                            <th>Benchmark Water Qty in Days</th>
                            <th>Last Communicated Flow Rate</th>
                            <th>Last Communicated Line Pressure</th>
                            <th>Min Pressure Psi Current Day</th>
                            <th>Max Pressure Current Day</th>
                            <th>Coordinate</th>
                            <th>Is Installed</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr class="">
                            <td>
                                @Html.DisplayFor(modelItem => item.WDNID)
                            </td>
                            <td data-isrequired="true" data-type="text">
                                @Html.DisplayFor(modelItem => item.WDNUniqueId)
                            </td>
                            <td data-isrequired="true" data-type="select" data-url="Zone/Get">
                                @Html.DisplayFor(modelItem => item.ZoneId)
                            </td>
                            <td data-isrequired="true" data-type="select" data-url="Ward/Get">
                                @Html.DisplayFor(modelItem => item.WardId)
                            </td>
                            <td data-isrequired="true" data-type="select" data-url="WDS/Get">
                                @Html.DisplayFor(modelItem => item.WDSId)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.LineSize)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.PLCIPAddress)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.CDQNet)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.CDQNegative)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.LDQNet)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.LDQNegative)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.Benchmark_water_qty_in_days)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.Last_communicated_flow_rate)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.Last_communicated_line_pressure)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.Min_pressure_psi_current_day)
                            </td>
                            <td data-type="number">
                                @Html.DisplayFor(modelItem => item.Max_pressure_current_day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coordinate)
                            </td>
                            <td data-type="checkbox">
                                @*@Html.DisplayFor(modelItem => item.IsInstalled)*@
                                @item.IsInstalled
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="post" id="wdnform" action="#">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create WDS</h5>
                        <button type="button" onclick="closePopup()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="WDNUniqueId" class="col-form-label">Id:</label>
                                        <input type="text" required class="form-control" id="WDNUniqueId">
                                    </div>
                                    <div class="form-group">
                                        <label for="ZoneId" class="col-form-label">Zone:</label>
                                        @*<input type="text" required class="form-control" id="wds_type">*@
                                        <select required class="form-control" id="ZoneId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="WardId" class="col-form-label">Ward:</label>
                                        @*<input type="text" required class="form-control" id="wds_type">*@
                                        <select required class="form-control" id="WardId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="WDSId" class="col-form-label">WDS:</label>
                                        @*<input type="text" required class="form-control" id="wds_type">*@
                                        <select required class="form-control" id="WDSId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Location" class="col-form-label">Location:</label>
                                        <input type="text" required class="form-control" id="Location">
                                    </div>
                                    <div class="form-group">
                                        <label for="LineSize" class="col-form-label">LineSize:</label>
                                        <input type="number" required class="form-control" id="LineSize">
                                    </div>
                                    <div class="form-group">
                                        <label for="PLCIPAddress" class="col-form-label">PLC IP Address:</label>
                                        <input type="text" required class="form-control" id="PLCIPAddress">
                                    </div>
                                    <div class="form-group">
                                        <label for="CDQNet" class="col-form-label">CDQNet:</label>
                                        <input type="number" required class="form-control" id="CDQNet">
                                    </div>
                                    <div class="form-group">
                                        <label for="CDQNegative" class="col-form-label">CDQNegative:</label>
                                        <input type="number" required class="form-control" id="CDQNegative">
                                    </div>
                                    <div class="form-group">
                                        <label for="LDQNet" class="col-form-label">LDQNet:</label>
                                        <input type="number" required class="form-control" id="LDQNet">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="LDQNegative" class="col-form-label">LDQNegative:</label>
                                        <input type="number" required class="form-control" id="LDQNegative">
                                    </div>
                                    <div class="form-group">
                                        <label for="LDQNegative" class="col-form-label">LDQNegative:</label>
                                        <input type="number" required class="form-control" id="LDQNegative">
                                    </div>
                                    <div class="form-group">
                                        <label for="Last_communicated_flow_rate" class="col-form-label">Last Communicated Flow Rate:</label>
                                        <input type="number" required class="form-control" id="Last_communicated_flow_rate">
                                    </div>
                                    <div class="form-group">
                                        <label for="Last_communicated_line_pressure" class="col-form-label">Last Communicated Line Pressure:</label>
                                        <input type="number" required class="form-control" id="Last_communicated_line_pressure">
                                    </div>
                                    <div class="form-group">
                                        <label for="Min_pressure_psi_current_day" class="col-form-label">Min Pressure Psi Current Day:</label>
                                        <input type="number" required class="form-control" id="Min_pressure_psi_current_day">
                                    </div>
                                    <div class="form-group">
                                        <label for="Max_pressure_current_day" class="col-form-label">Max Pressure Current Day:</label>
                                        <input type="number" required class="form-control" id="Max_pressure_current_day">
                                    </div>
                                    <div class="form-group">
                                        <label for="Coordinate" class="col-form-label">Coordinate:</label>
                                        <input type="text" required class="form-control" id="Coordinate">
                                    </div>
                                    @*<div class="form-group">
                                            <label for="IsInstalled" class="col-form-label">Installed:</label>
                                            <input type="checkbox" required class="form-control" id="IsInstalled" value="True">
                                        </div>*@
                                    <br />
                                    <div class="form-check">
                                        <input class="form-check-input" value="True" type="checkbox" id="IsInstalled">
                                        <label class="form-check-label" for="IsInstalled">
                                            Installed
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="spump_count" class="col-form-label">Standby Pump Count:</label>
                                <input type="text" required class="form-control" id="spump_count">
                            </div>*@

                    </div>
                    <div class="modal-footer">
                        <button onclick="closePopup()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>

    $(document).ready(function () {
        $('#wdn-list').SetEditable({
            bootstrap: true,
            columnsEd: "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",
            onBeforeDelete: onDelete,
            onEdit: onAddUpdate
            //$addButton: $('#but_add')
        });
        $('#wdn-list').DataTable({
            "order": [[0, 'des']],
            "scrollX": true,
            fixedColumns: {
                left: 1
            }
        });
        $('#but_add').click(function () {
            $('#wdnform')[0].reset();
            $('#exampleModal').modal('show');
            loadSelectData('Ward/Get', $('#WardId'), 0, 'Select Ward');
            loadSelectData('Zone/Get', $('#ZoneId'), 0, 'Select Zone');
            loadSelectData('WDS/Get', $('#WDSId'), 0, 'Select WDS');
        });
        $('#wdnform').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: "WDN/Add",
                type: "POST",
                data: {
                    WDNID: 0,
                    WDNUniqueId: $('#WDNUniqueId').val(),
                    ZoneId: $('#ZoneId').val(),
                    WardId: $('#WardId').val(),
                    WDSId: $('#WDSId').val(),
                    Location: $('#Location').val(),
                    LineSize: $('#LineSize').val(),
                    CDQNet: $('#CDQNet').val(),
                    CDQNegative: $('#CDQNegative').val(),
                    LDQNet: $('#LDQNet').val(),
                    LDQNegative: $('#LDQNegative').val(),
                    Benchmark_water_qty_in_days: $('#Benchmark_water_qty_in_days').val(),
                    Last_communicated_flow_rate: $('#Last_communicated_flow_rate').val(),
                    Last_communicated_line_pressure: $('#Last_communicated_line_pressure').val(),
                    Min_pressure_psi_current_day: $('#Min_pressure_psi_current_day').val(),
                    Max_pressure_current_day: $('#Max_pressure_current_day').val(),
                    Coordinate: $('#Coordinate').val(),
                    IsInstalled: $('#IsInstalled:checked').val() ? true : false
                    //StandbyPumpCount: $('#spump_count').val()
                    , PLCIPAddress: $('#PLCIPAddress').val()
                },
                success: function (res) {
                    if (res) {
                        $('#exampleModal').modal('hide');
                        rowAddNew('wdn-list', [res.WDNID,
                        res.WDNUniqueId,
                        res.ZoneId,
                        res.WardId,
                        res.WDSId,
                        res.Location,
                        res.LineSize,
                        res.CDQNet,
                        res.CDQNegative,
                        res.LDQNet,
                        res.LDQNegative,
                        res.Benchmark_water_qty_in_days,
                        res.Last_communicated_flow_rate,
                        res.Last_communicated_line_pressure,
                        res.Min_pressure_psi_current_day,
                        res.Max_pressure_current_day,
                        res.Coordinate,
                        res.IsInstalled]);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
            return false;
        });
        function GetWDNRowData(but) {
            var tr = but[0];
            var tds = $(tr).children('td');

            return {
                WDNID: $(tds[0]).html().trim(),
                WDNUniqueId: $(tds[1]).html().trim(),
                ZoneId: $(tds[2]).html().trim(),
                WardId: $(tds[3]).html().trim(),
                WDSId: $(tds[4]).html().trim(),
                Location: $(tds[5]).html().trim(),
                LineSize: $(tds[6]).html().trim(),
                PLCIPAddress: $(tds[7]).html().trim(),
                CDQNet: $(tds[8]).html().trim(),
                CDQNegative: $(tds[9]).html().trim(),
                LDQNet: $(tds[10]).html().trim(),
                LDQNegative: $(tds[11]).html().trim(),
                Benchmark_water_qty_in_days: $(tds[12]).html().trim(),
                Last_communicated_flow_rate: $(tds[13]).html().trim(),
                Last_communicated_line_pressure: $(tds[14]).html().trim(),
                Min_pressure_psi_current_day: $(tds[15]).html().trim(),
                Max_pressure_current_day: $(tds[16]).html().trim(),
                Coordinate: $(tds[17]).html().trim(),
                IsInstalled: $(tds[18]).html().trim()
                //StandbyPumpCount: $('#spump_count').val()
            }
        }
        function onDelete(but) {
            var data = GetWDNRowData(but);

            $.ajax({
                url: "WDN/Delete",
                type: "POST",
                data: { id: data.WDNID },
                success: function (res) {
                    if (res)
                        alert("Delete success");
                    else
                        alert("Delete fail");
                }
            });
        }
        function onAddUpdate(but) {
            var data = GetWDNRowData(but);
            if (data.WDNID) {
                Update(data);
            }
            //else {
            //    AddNew(data, but);
            //}
        }
        function AddNew(data, but) {
            $.ajax({
                url: "WDN/Add",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res) {
                        var tr = but[0];
                        var tds = $(tr).children('td');
                        $(tds[0]).html(res.WTPId);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
        }
        function Update(data) {
            $.ajax({
                url: "WDN/Update",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res)
                        alert("Edit success");
                    else
                        alert("Edit fail");
                }
            });
        }
    });
    $(window).on("load", function () {
        $(".dataTables_filter :input").addClass('empty');
    });

    $(document).on('keyup', '.dataTables_filter :input', function () {
        var input = $(".dataTables_filter :input");
        if (input.val().length === 0) {
            input.removeClass('no-icon');
            input.addClass('empty');

        } else {
            input.removeClass('empty');
            input.addClass('no-icon')
        }
    });
    function closePopup() {
        $('#exampleModal').modal('hide');
    }
</script>
