﻿@model IEnumerable<AMC.Models.WDNLocationListModel>

@{
    ViewBag.Title = "WDN Wards New";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 bar">

    <div class="container-fluid mt-0 p-0">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label class="header" style="font-weight: 600;font-size: 23px; padding:10px; float: right;">Water Distribution Networks - WDN Locations</label>
            </div>
            <div class="col-6 col-md-4">


                @*<div id="date-time">

                        <label id="ldr_datetime"></label>

                    </div>*@
                <label class="header" style="font-weight: 600;font-size: 23px; padding:10px; float: right;" id="ldr_datetime">@ViewBag.LDRDateTIME</label>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <select id="ddlWards" class="form-select" aria-label="Default select example" onchange="Refresh(this.value);"></select>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" onclick="Redirect();">Ward Overview</button>
            </div>
            <div class="col-md-2 float-end">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchbox">
                    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 dashboar-milestone d-flex text-center p-1 rounded">
                <div class="col-md-4 p-2 milestone-1">
                    <h5><label id="capacity_sum"></label> <small>QTY. IN m3 Capacity</small></h5>

                </div>
                <div class="col-md-4 p-2 milestone-2">
                    <h5><label id="ldq_sum"></label> <small>QTY. IN m3 Last Day</small></h5>

                </div>
                <div class="col-md-4  p-2 milestone-3">
                    <h5><label id="cdq_sum"></label><small> QTY. IN m3 Current Day</small></h5>

                </div>
            </div>
        </div>


        <div class="row">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {

                    i++;
                    <div class="col-md-3" data-role="location">
                        <div class="row cardin">
                            <div class="col-md-12">

                                <div class="card">
                                    <a href="javascript:;" onclick="openDetailModal(@item.Id, '@item.Location')">
                                        <h6 class="card-title">@item.Location</h6>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="" style="padding:5px;">
                                    <div id="@item.Id" width="800" height="800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>

    </div>
</main>

<div class="modal" id="detail_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @*<h4 class="modal-title"><span id="location_name">0</span></h4>
                    <h4 class="tab"> LDR: <span id="data_date_time">0</span></h4>*@
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-3">
                    <!-- Nav pills -->

                    <ul class="nav nav-pills" role="tablist">
                        @*<li class="nav-item">
                                <a class="nav-link active border border-secondary" data-bs-toggle="pill" href="#home">&nbsp; Details &nbsp;</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border border-secondary" data-bs-toggle="pill" href="#menu2">
                                    &nbsp;
                                    Export
                                    &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link border border-secondary" data-bs-toggle="pill" onclick="GetPdfFile();">
                                &nbsp;
                                Export
                                &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pdf_content">
                        <table width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td><h4><span id="location_name">0</span></h4></td>
                                    <td><h4> LDR: <span id="LDR_DateTime">0</span></h4></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="home" class="container tab-pane active">
                            <br>

                            <div class="container-fluid" style="padding-bottom: 14px;">
                                <table class="table table-bordered"
                                       style=" border-color: #bdb1b1; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Diameter</th>
                                            <th scope="col">Power Status</th>
                                            <th scope="col">Door Status</th>
                                            <th scope="col">Parent WDS</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td><span id="site_id">0</span></td>
                                            <td><span id="diameter">0</span></td>
                                            @*<td><span id="power_statusRed" style="display:none"><div id="circleRed">  <label style="width: 165px;">Battery Power</label></div></span>
                                                    <span id="power_statusGreen" style="display:none"><div id="circleGreen">  <label style="width: 165px;">Main Power</label></div></span>
                                                </td>*@
                                            <td><span id="power_status">0</span></td>
                                            <td>
                                                <span id="door_status">0</span>
                                                @*<span id="door_statusRed" style="display:none"><div id="circleRed">  <label style="width: 165px;">Closed</label></div></span>
                                                    <span id="door_statusGreen" style="display:none"><div id="circleGreen">  <label style="width: 165px;">Open</label></div></span>*@
                                            </td>
                                            <td><span id="parent_wds">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">KPI</th>
                                            <th scope="col"><span id="KPI_current">0</span></th>
                                            <th scope="col"> <span id="KPI_prev">0</span></th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">

                                        <tr>
                                            <td style="color: #0462ac;">Flow (m3/hr)</td>
                                            <td><span id="flow_current">0</span></td>
                                            <td><span id="flow_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Totaliser (m3)</td>
                                            <td><span id="totalisedflow1_current">0</span></td>
                                            <td><span id="totalisedflow1_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">CDQ (m3)</td>
                                            <td><span id="CDQ_current">0</span></td>
                                            <td><span id="CDQ_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">LDQ (m3)</td>
                                            <td><span id="LDQ_current">0</span></td>
                                            <td><span id="LDQ_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Pressure (PSI)</td>
                                            <td><span id="pressure_current">0</span></td>
                                            <td><span id="pressure_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Peak Pressure (PSI)</td>
                                            <td><span id="peakpressure_current">0</span></td>
                                            <td><span id="peakpressure_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Reverse Totaliser (m3)</td>
                                            <td><span id="totalisedflow2_current">0</span></td>
                                            <td><span id="totalisedflow2_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Reverse CDQ (m3)</td>
                                            <td><span id="negative_cdq_current">0</span></td>
                                            <td><span id="negative_cdq_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Reverse LDQ (m3)</td>
                                            <td><span id="negative_ldq_current">0</span></td>
                                            <td><span id="negative_ldq_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">BatteryVoltage</td>
                                            <td><span id="batteryvoltage_current">0</span></td>
                                            <td><span id="batteryvoltage_prev">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .card-title:hover {
        transform: scale(1.1);
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06); */
    }

    .highcharts-root {
        height: 68%;
        width: 100%;
    }

    .dashboar-milestone {
        height: 4rem;
    }

    .highcharts-title {
        display: none;
    }

    .cardin {
        border: 2px solid rgb(4 95 172);
        border-radius: 1.25rem;
        width: 17rem;
        height: 22rem;
        margin-top: 20px;
    }

        .cardin:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

    .row-cols-2 > * {
        flex: 0 0 auto;
        width: auto;
    }

    #highcharts-5xqjjfb-0 {
        height: 290px;
    }

    .highcharts-yaxis-labels {
        display: none;
    }

    .highcharts-yaxis {
        display: none;
    }

    #date-time {
        padding-top: 20px;
    }

    #currentDate {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    #currentTime {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    .bar {
        background-color: #e6e6e6;
        height: 50px;
        width: 100%;
    }

    .align-items-start {
        background-color: #0462ac;
        height: 110px;
        margin-left: -158px;
        width: 131%;
        border-radius: 15px;
    }

    .bg-dark {
        background-color: #0462ac !important;
    }

    .card-body {
        padding: 1rem 2rem;
    }

    .card-title {
        text-align: center;
        color: #000;
    }

    card-title a {
        color: #000;
    }

    .tab {
        text-decoration: none;
        text-decoration-color: gray;
        margin-left: 27rem;
    }

    .modal-title {
        text-decoration: none;
        text-decoration-color: gray;
    }

    .text-white {
        font-size: 13px;
    }

    card-header:first-child {
        border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0;
    }

    .card-body {
        text-align: center;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }

    .highcharts-legend-item text {
        font-size: 13px
    }

    .highcharts-radial-axis-labels {
        display: none;
    }
</style>
<script src="https://cdn.jsdelivr.net/jspdf/1.2.61/jspdf.min.js"></script>
<script src="@Url.Content("~/assets/js/chart.min.js")"></script>
<script>
    //I did not read up on formatting as in pdf.text(X1, X2,   <------ not sure of how X1 and X2 are used, you can do that
    function GetPdfFile() {
        // $('#export_button_div').css('display', 'none');

        var doc = new jsPDF({
            orientation: 'p',
            //unit: 'in',
            format: [612, 612]
        });
        doc.fromHTML($('#pdf_content').html(), 5, 5, {
            //'width': 450,
            //'elementHandlers': specialElementHandlers
        });

        var x = document.getElementById("location_name").textContent + ".pdf";

        doc.save(x);
        //$('#export_button_div').css('display', 'block');
    }
</script>
<input type="hidden" id="wdn_id_hidden" />
<input type="hidden" id="location_name_hidden" />
<script type="text/javascript">
    var interval = null;
    var wdn_id_const = 0;
    var location_name_const = 0;
    $("#detail_modal").on("hidden", function () {

        clearInterval(interval);
        interval = null;
    });
    $('#detail_modal').on('hidden.bs.modal', function () {
        window.alert('hidden event fired!');
    });
    function openDetailModal(wdn_id, location_name) {
        $('#wdn_id_hidden').val(wdn_id);
        wdn_id_const = wdn_id;
        location_name_const = location_name;
        $('#location_name_hidden').val(location_name);
        //interval = setInterval(function () { popupBinding(wds_id, location_name); }, 1000);
        popupBinding(wdn_id, location_name);

    }
    interval = setInterval(function () { checkModalOpen(); }, 3000);
    function checkModalOpen() {

        if ($("#detail_modal").hasClass("show")) {
            console.log("Modal Open====" + wdn_id_const);
            popupBinding(wdn_id_const, location_name_const);
        } else {
            console.log("Modal close====");
        }
    }
    function popupBinding(wdn_id, location_name) {
        $.ajax({
            type: 'GET',
            url: "/WDN/GetWDNInletDetailsByWDNName?wdn_id=" + wdn_id + "&TagName=" + location_name + "&Type=Inlet",


            success: function (result) {
                console.log(result.list[0].totalisedflow1_current);
                $("#detail_modal").modal('show');
                //location_name
                $('#LDR_DateTime').html(result.list[0].ldr_date);
                $('#location_name').html(location_name);
                $('#site_id').html(result.list[0].siteId);
                //if (result.list[0].power_status != true) {
                //    document.getElementById("power_statusRed").style.display = "block";
                //    document.getElementById("power_statusGreen").style.display = "none";
                //}
                //else {
                //    document.getElementById("power_statusRed").style.display = "none";
                //    document.getElementById("power_statusGreen").style.display = "block";
                //}

                $('#power_status').html(result.list[0].power_status);
                $('#door_status').html(result.list[0].door_status);
                //if (result.list[0].door_status != true) {
                //    document.getElementById("door_statusRed").style.display = "block";
                //    document.getElementById("door_statusGreen").style.display = "none";
                //}
                //else {
                //    document.getElementById("door_statusRed").style.display = "none";
                //    document.getElementById("door_statusGreen").style.display = "block";
                //}
                $('#totalisedflow1_current').html(result.list[0].totalisedflow1_current);
                $('#totalisedflow2_current').html(result.list[0].totalisedflow2_current);
                $('#flow_current').html(result.list[0].flow_current);
                $('#LDQ_current').html(result.list[0].LDQ_current);
                $('#CDQ_current').html(result.list[0].CDQ_current);
                $('#KPI_current').html(result.list[0].KPI_current);
                $('#negative_ldq_current').html(result.list[0].negative_ldq_current);
                $('#negative_cdq_current').html(result.list[0].negative_cdq_current);
                $('#pressure_current').html(result.list[0].pressure_current);
                $('#peakpressure_current').html(result.list[0].peakpressure_current);
                $('#batteryvoltage_current').html(result.list[0].batteryvoltage_current);

                $('#KPI_prev').html(result.list[0].KPI_Prev);
                $('#totalisedflow1_prev').html(result.list[0].totalisedflow1_prev);
                $('#totalisedflow2_prev').html(result.list[0].totalisedflow2_prev);
                $('#flow_prev').html(result.list[0].flow_prev);
                $('#LDQ_prev').html(result.list[0].LDQ_prev);
                $('#CDQ_prev').html(result.list[0].CDQ_prev);
                $('#negative_cdq_prev').html(result.list[0].negative_cdq_prev);
                $('#negative_ldq_prev').html(result.list[0].negative_ldq_prev);
                $('#pressure_prev').html(result.list[0].pressure_prev);
                $('#peakpressure_prev').html(result.list[0].peakpressure_prev);
                $('#batteryvoltage_prev').html(result.list[0].batteryvoltage_prev);
                // $('#parent_wds').html(result.list[0].ParentWDS);
                $('#parent_wds').html("<a href=/WDS/WDSOutletLocations/" + result.list[0].ZoneId + ">" + result.list[0].ParentWDS + "</a>");
                $('#diameter').html(result.list[0].Diameter);






            },
            error: function (e) {
                alert("Error:Unable to load data from server");
                $("#detail_modal").modal('close');
            }

        });

    }

    $(document).ready(function () {
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: "/WDN/WDNLocationGraphData/@ViewBag.WardId",


                success: function (result) {
                    console.dir(result);
                    var list = result.list;
                    var i = 0;
                    $.each(list, function (index, value) {
                        i++;
                        //drawChartDynamic(list.capacity.toString(), (list.cdq).toString(), (list.ldq).toString(), list.WTPName,i);


                        $('#capacity_sum').html(list[index].Capacity_Sum.toString());
                        $('#cdq_sum').html(list[index].CDQ_Sum.toString());
                        $('#ldq_sum').html(list[index].LDQ_Sum.toString());
                        $('#ldr_datetime').html(list[index].LDRDateAndTime.toString());

                        //drawStuff2(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                                          //  drawStuff(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                        drawHiChartForWTPInlet(list[index].Capacity,list[index].CDQ, list[index].LDQ, list[index].WDNId.toString());
                        // drawStuff(650, 10, 50, i);
                        //drawChart(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                    });

                },
                error: function (e) {
                    alert("Error:Unable to load data from server");
                }

            });
        }, 20);
    });


    function drawHiChartForWTPInlet(capacity,cdq, ldq, WDNId) {

        const chart = Highcharts.chart(WDNId, {
            chart: {
                type: 'column'
            },
            //title: {
            //    text: 'heading name'
            //},
            //subtitle: {
            //    text: ''
            //},
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },
            colors: ['#f57c00', '#0462ac', '#198917'],
            xAxis: {
                //categories: ['Capacity', 'CDQ', 'LDQ']
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            tooltip: {
                valueDecimals: 2,
                valueSuffix: ' m3'
            },
            series: [{
                name: 'Capacity: ' + capacity,
                data: [capacity]
                },
                {
                    name: 'CDQ: ' + cdq + 'm3',
                    data: [cdq]
                }, {
                    name: 'LDQ: ' + ldq + 'm3',
                data: [ldq]
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 300
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        }
                    }
                }]
            }
        });



    }

    //google.charts.load('current', { 'packages': ['bar'] });
    //google.charts.setOnLoadCallback(drawStuff);
    //function drawStuff2(capacity, cdq, ldq, i) {
    //    const canvas = document.getElementById('1');
    //    const ctx = canvas;
    //    const myChart = new Chart(ctx, {
    //        type: 'bar',
    //        data: {
    //            labels: ["Capacity", "Current Day", "Last Day"],
    //            datasets: [{
    //                label: 'Kotarpur 650 (MLD)',
    //                backgroundColor: ["#2eb85c", "#f9b215", "#3399ff"],
    //                barThickness: 25,
    //                maxBarThickness: 50,
    //                borderColor: '#3399ff',
    //                data: [650, 704, 314],
    //            }]
    //        },
    //        options: {
    //            plugins: {
    //                legend: {
    //                    display: false,
    //                },

    //                datalabels: {
    //                    anchor: 'end', // remove this line to get label in middle of the bar
    //                    align: 'top',
    //                    labels: {
    //                        value: {
    //                            color: 'blue'
    //                        }
    //                    }

    //                },
    //            },
    //            scales: {
    //                x: {
    //                    ticks: {
    //                        display: true,
    //                    },
    //                },
    //                y: {
    //                    ticks: {
    //                        display: false,
    //                    },
    //                },
    //            },
    //        }
    //    });
    //}
    //function drawStuff(capacity, cdq, ldq, i) {
    //    var data = new google.visualization.arrayToDataTable([
    //        ['Move', 'MLD'],
    //        ["Capacity", capacity],
    //        ["Current Day (MLD)", cdq],
    //        ["Last Day (MLD)", ldq]
    //    ]);

    //    var options = {
    //        //width: 600,
    //        legend: { position: 'none' },
    //        /* chart: {
    //             title: 'Chess opening moves',
    //             subtitle: 'popularity by percentage'
    //         },*/
    //        axes: {
    //            x: {
    //                // 0: { side: 'top', label: 'White to move' } // Top x-axis.
    //            }
    //        },
    //        bar: { groupWidth: "90%" }
    //    };

    //    var chart = new google.charts.Bar(document.getElementById('' + i));
    //    // Convert the Classic options to Material options.
    //    chart.draw(data, google.charts.Bar.convertOptions(options));

    //};
    //function drawChartDynamic(capacity, cdq, ldq, WTPName, i) {
    //    alert("in drwa  ")
    //    var data = google.visualization.arrayToDataTable([
    //        ['Year', 'Sales', 'Expenses', 'Profit'],
    //        ['2014', capacity, cdq, ldq]
    //    ]);
    //    var options = {};
    //    /*   var options = {
    //           chart: {
    //               title: WTPName,
    //               subtitle: 'Sales, Expenses, and Profit: 2014-2017',
    //           }
    //       };
    //       */
    //    var chart = new google.charts.Bar(document.getElementById('' + i));

    //    chart.draw(data, google.charts.Bar.convertOptions(options));
    //}
</script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(capacity, cdq, ldq, i) {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses', 'Profit'],
            ['2014', capacity, cdq, ldq]
        ]);
        var options = {};
        /*   var options = {
               chart: {
                   title: 'Company Performance',
                   subtitle: 'Sales, Expenses, and Profit: 2014-2017',
               }
           };
           */
        var chart = new google.charts.Bar(document.getElementById('' + i));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    function primaryClick(id) {

        $.ajax({
            type: "GET",
            url: "/WTP/Popup",
            contentType: "application/json",
            data: { id: id },
            dataType: "json",
            success: function (result) {

                $('#pumpstatus').empty();
                let DymCircle = '';
                if (result.noofpump == 0) {
                    DymCircle += `<div>NA</div >`
                } else {

                    for (var i = 1; i <= result.noofpump; i++) {
                    }
                }
            },
            failure: function (response) {
                alert(response1);
            }
        });
    }
</script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="@Url.Content("~/assets/js/highcharts.js" )"></script>
<script src="@Url.Content("~/assets/js/highcharts-more.js" )"></script>

<script type="text/javascript">
    $(function () {
        var ddlWards = $("#ddlWards");
        ddlWards.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/WDN/WardListForDropDown/" + @ViewBag.WardId,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlWards.empty().append('<option selected="selected" value="0">Please select</option>');
                $.each(response, function () {
                    if (@ViewBag.WardId== this['Value']) {
                        ddlWards.append($("<option selected></option>").val(this['Value']).html(this['Text']));
                    } else {
                        ddlWards.append($("<option></option>").val(this['Value']).html(this['Text']));
                    }

                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>

<script>
    function Refresh(value) {
        window.location.href = '/WDN/Location/' + value;
    }

    function Redirect() {
        window.location.href = '/WDN/GetZoneByWardId/' + $("#ddlWards").val();
    }
    //function Redirect() {
    //    var wardid = $("#ddlWards").val();
    //      $.ajax({
    //        type: "GET",
    //          url: "/WDN/GetZoneByWardId/?WardId=" + wardid,

    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //          success: function (response) {
    //              console.log(response)
    //            window.location.href = '/WDN/Ward/' + wardid;
    //        },
    //        failure: function (response) {
    //            alert(response.responseText);
    //        },
    //        error: function (response) {
    //            alert(response.responseText);
    //        }
    //    });

    //}
</script>

<script>
    $(document).ready(function () {
        $("#searchbox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $('div[data-role="location"]').filter(function () {
                $(this).toggle($(this).find('h6').text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>