﻿@model IEnumerable<AMC.Models.WDNZoneListModel>

@{
    ViewBag.Title = "WDN Dashboard";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 bar">

    <div class="container-fluid mt-0 p-0">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label class="header" style="font-weight: 600;font-size: 23px; padding:17px; float: right;">Water Distribution Networks - WDN Zones</label>
            </div>
            <div class="col-6 col-md-4">


                @*<div id="date-time">

                    <label id="ldr_datetime"></label>*@

                <label class="header" style="font-weight: 600;font-size: 23px; padding:10px; float: right;" id="ldr_datetime">@ViewBag.LDRDateTIME</label>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-2 ">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchbox" style=" margin-left: 72rem;">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
    <div class="container">

        <div class="row mt-4">
            <div class="col-md-12 dashboar-milestone d-flex text-center p-1 rounded">
                <div class="col-md-6 p-1 milestone-1">
                    <h4><label id="ldq_sum"></label> <small>QTY. IN m3 Last Day</small></h4>

                </div>
                <div class="col-md-6  p-1 milestone-1">
                    <h4><label id="cdq_sum"></label><small> QTY. IN m3 Current Day</small></h4>

                </div>

            </div>
        </div>


        <div class="row">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {

                    i++;
                    <div class="col-md-3" data-role="location">
                        <div class="row cardin">
                            <div class="col-md-12">

                                <div class="card">
                                    <a href="Ward/@item.Id">
                                        <h6 class="card-title">@item.Zone</h6>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="" style="padding:5px;">
                                    <div id="@item.Id" width="800" height="800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>

    </div>
</main>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .card-title:hover {
        transform: scale(1.1);
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06); */
    }

    .highcharts-root {
        height: 68%;
        width: 100%;
    }

    .dashboar-milestone {
        height: 4rem;
    }

    .highcharts-title {
        display: none;
    }

    .cardin {
        border: 2px solid rgb(4 95 172);
        border-radius: 1.25rem;
        width: 17rem;
        height: 22rem;
        margin-top: 20px;
    }

        .cardin:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

    .row-cols-2 > * {
        flex: 0 0 auto;
        width: auto;
    }

    #highcharts-5xqjjfb-0 {
        height: 290px;
    }

    .highcharts-yaxis-labels {
        display: none;
    }

    .highcharts-yaxis {
        display: none;
    }

    #date-time {
        padding-top: 20px;
    }

    #currentDate {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    #currentTime {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    .bar {
        background-color: #e6e6e6;
        height: 50px;
        width: 100%;
    }

    .align-items-start {
        background-color: #0462ac;
        height: 110px;
        margin-left: -158px;
        width: 131%;
        border-radius: 15px;
    }

    .bg-dark {
        background-color: #0462ac !important;
    }

    .card-body {
        padding: 1rem 2rem;
    }

    .card-title {
        text-align: center;
        color: #000;
    }

    card-title a {
        color: #000;
    }

    .tab {
        text-decoration: none;
        text-decoration-color: gray;
        margin-left: 27rem;
    }

    .modal-title {
        text-decoration: none;
        text-decoration-color: gray;
    }

    .text-white {
        font-size: 13px;
    }

    card-header:first-child {
        border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0;
    }

    .card-body {
        text-align: center;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }

    .highcharts-legend-item text {
        font-size: 13px
    }

    .highcharts-radial-axis-labels {
        display: none;
    }
</style>
<script src="@Url.Content("~/assets/js/chart.min.js")"></script>

<script src="@Url.Content("~/assets/js/highcharts-2.js" )"></script>
<script src="@Url.Content("~/assets/js/highcharts-more.js" )"></script>
<script type="text/javascript">


    $(document).ready(function () {
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: "/WDN/WDNZoneGraphData",


                success: function (result) {
                    console.log(result.list);
                    var list = result.list;
                    var i = 0;
                    $.each(list, function (index, value) {


                        i++;
                        console.log(list);
                        //drawChartDynamic(list.capacity.toString(), (list.cdq).toString(), (list.ldq).toString(), list.WTPName,i);
                     
                       

                        //$('#cdq_sum').val(list[0].CDQ_Sum.toString());
                        //$('#ldq_sum').val(list[0].LDQ_Sum.toString());
                        $('#cdq_sum').html(list[index].CDQ_Sum.toString());
                        $('#ldq_sum').html(list[index].LDQ_Sum.toString());
                        $('#ldr_datetime').html(result.list[0].LDRDateAndTime);
                        //drawStuff2(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                        //drawStuff(list[index].Capacity, list[index].CDQ, list[index].LDQ, list[index].WDNId);
                        drawHiChartForWTPInlet(list[index].CDQ, list[index].LDQ, list[index].WDNId.toString());
                        
                        // drawStuff(650, 10, 50, i);
                        //drawChart(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                    });
                },
                error: function (e) {
                    alert("Error:Unable to load data from server");
                }

            });
        }, 200);
    });

    function drawHiChartForWTPInlet(cdq, ldq, WDNId) {

        const chart = Highcharts.chart(WDNId, {
            chart: {
                type: 'column'
            },
            //title: {
            //    text: 'heading name'
            //},
            //subtitle: {
            //    text: ''
            //},
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },
            colors: [ '#0462ac', '#198917'],

            xAxis: {
                //categories: ['Capacity', 'CDQ', 'LDQ']
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            series: [{
                name: 'CDQ: ' + cdq + 'm3',
                data: [cdq]
            }, {
                name: 'LDQ: ' + ldq + 'm3',
                data: [ldq]
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 300
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        }
                    }
                }]
            }
        });



    }

    //google.charts.load('current', { 'packages': ['bar'] });
    //google.charts.setOnLoadCallback(drawStuff);
    //function drawStuff2(capacity, cdq, ldq, i) {
    //    const canvas = document.getElementById('1');
    //    const ctx = canvas;
    //    const myChart = new Chart(ctx, {
    //        type: 'bar',
    //        data: {
    //            labels: ["Capacity", "Current Day", "Last Day"],
    //            datasets: [{
    //                label: 'Kotarpur 650 (MLD)',
    //                backgroundColor: ["#2eb85c", "#f9b215", "#3399ff"],
    //                barThickness: 25,
    //                maxBarThickness: 50,
    //                borderColor: '#3399ff',
    //                data: [650, 704, 314],
    //            }]
    //        },
    //        options: {
    //            plugins: {
    //                legend: {
    //                    display: false,
    //                },

    //                datalabels: {
    //                    anchor: 'end', // remove this line to get label in middle of the bar
    //                    align: 'top',
    //                    labels: {
    //                        value: {
    //                            color: 'blue'
    //                        }
    //                    }

    //                },
    //            },
    //            scales: {
    //                x: {
    //                    ticks: {
    //                        display: true,
    //                    },
    //                },
    //                y: {
    //                    ticks: {
    //                        display: false,
    //                    },
    //                },
    //            },
    //        }
    //    });
    //}
    //function drawStuff(capacity, cdq, ldq, i) {
    //    var data = new google.visualization.arrayToDataTable([
    //        ['Move', 'MLD'],
    //        ["Capacity", capacity],
    //        ["Current Day (MLD)", cdq],
    //        ["Last Day (MLD)", ldq]
    //    ]);

    //    var options = {
    //        //width: 600,
    //        legend: { position: 'none' },
    //        /* chart: {
    //             title: 'Chess opening moves',
    //             subtitle: 'popularity by percentage'
    //         },*/
    //        axes: {
    //            x: {
    //                // 0: { side: 'top', label: 'White to move' } // Top x-axis.
    //            }
    //        },
    //        bar: { groupWidth: "90%" }
    //    };

    //    var chart = new google.charts.Bar(document.getElementById('' + i));
    //    // Convert the Classic options to Material options.
    //    chart.draw(data, google.charts.Bar.convertOptions(options));

    //};
    //function drawChartDynamic(capacity, cdq, ldq, WTPName, i) {
    //    alert("in drwa  ")
    //    var data = google.visualization.arrayToDataTable([
    //        ['Year', 'Sales', 'Expenses', 'Profit'],
    //        ['2014', capacity, cdq, ldq]
    //    ]);
    //    var options = {};
    //    /*   var options = {
    //           chart: {
    //               title: WTPName,
    //               subtitle: 'Sales, Expenses, and Profit: 2014-2017',
    //           }
    //       };
    //       */
    //    var chart = new google.charts.Bar(document.getElementById('' + i));

    //    chart.draw(data, google.charts.Bar.convertOptions(options));
    //}
</script>

<script type="text/javascript">
    //google.charts.load('current', { 'packages': ['bar'] });
    //google.charts.setOnLoadCallback(drawChart);

    //function drawChart(capacity, cdq, ldq, i) {
    //    var data = google.visualization.arrayToDataTable([
    //        ['Year', 'Sales', 'Expenses', 'Profit'],
    //        ['2014', capacity, cdq, ldq]
    //    ]);
    //    var options = {};
    //    /*   var options = {
    //           chart: {
    //               title: 'Company Performance',
    //               subtitle: 'Sales, Expenses, and Profit: 2014-2017',
    //           }
    //       };
    //       */
    //    var chart = new google.charts.Bar(document.getElementById('' + i));

    //    chart.draw(data, google.charts.Bar.convertOptions(options));
    //}

    function primaryClick(id) {

        $.ajax({
            type: "GET",
            url: "/WTP/Popup",
            contentType: "application/json",
            data: { id: id },
            dataType: "json",
            success: function (result) {

                $('#pumpstatus').empty();
                let DymCircle = '';
                if (result.noofpump == 0) {
                    DymCircle += `<div>NA</div >`
                } else {

                    for (var i = 1; i <= result.noofpump; i++) {
                    }
                }
            },
            failure: function (response) {
                alert(response1);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $("#searchbox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $('div[data-role="location"]').filter(function () {
                $(this).toggle($(this).find('h6').text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
