﻿#map {
    height: 78vh;
    width: 106rem;
    margin-left: 13px;
}

.leaflet-tooltip-right {
    margin-left: -36px !important;
    margin-top: -36px !important;
}

.class-tooltip {
    margin-left: -30px !important;
    margin-top: -69px !important;
}

.leaflet-tooltip {
    background-color: #90bdb5 !important;
    border: 1px solid #1d332f9c !important;
}

.leaflet-tooltip-right:before {
    left: 0;
    margin-left: 0;
    border-right-color: transparent !important;
}

/*.leaflet-popup {
            left: -205px !important;
        }*/

/*.leaflet-left {
            right: 0 !important;
        }

        .leaflet-bottom {
            bottom: 0 !important;
        }*/

.leaflet-popup-content {
    margin: 10px -46px !important;
    line-height: 1.4 !important;
}

.leaflet-popup-content-wrapper {
    padding: 0 !important;
    text-align: center !important;
    border-radius: 12px !important;
    top: -78px !important;
    left: 22px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: none !important;
    color: #333;
    box-shadow: none !important;
}

.leaflet-popup-tip-container {
    top: 68px !important;
}

.btnzoom {
    text-decoration: line-through !important;
    color: red !important;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    overflow-y: scroll;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
    background-color: #0a0a0acf;
    /*border: 1px solid #efefef;*/
    border-radius: 3px 3px 3px 3px;
    color: #efefef;
    z-index: 1001 !important;
    height: 200px;
}

    .ui-menu .ui-menu {
        margin-top: -3px;
    }

    .ui-menu .ui-menu-item {
        margin: 0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
        font-family: arial;
        /* border: 1px solid white; */
    }

        .ui-menu .ui-menu-item div {
            text-decoration: none;
            display: block;
            padding: .1em .3em;
            line-height: 1.5;
            zoom: 1;
        }

            .ui-menu .ui-menu-item div.ui-state-hover, .ui-menu .ui-menu-item div.ui-state-active {
                font-weight: bold;
                color: #efefef;
                background-color: grey;
            }

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}

    .row .col.s12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    /* width: 100%; */
    font-size: 1rem;
    /* margin: 0 0 5px 0; */
    padding: 3px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.zoomicon {
    background-color: #f0f8ff00;
    border: 0px;
    color: white;
    position: absolute;
    margin-top: 3px;
    width: 38px;
    height: 34px;
    color: #fff;
    text-transform: uppercase;
    background: #add0c9;
    /*padding: 3px;*/
    border-radius: 0px;
    display: inline-block;
    border: none;
    text-decoration: none;
    text-align: -webkit-center;
}

    .zoomicon:hover {
        cursor: pointer;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

.pinRED {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50% 50% 50% 0;
    background: red;
    position: absolute;
    transform: rotate(-45deg);
    left: 62%;
    top: 52%;
    margin: -20px 0 0 -20px;
}

.pinGREEN {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50% 50% 50% 0;
    background: green;
    position: absolute;
    transform: rotate(-45deg);
    left: 62%;
    top: 52%;
    margin: -20px 0 0 -20px;
}

    .pinGREEN span, .pinORANGE span, .pinRED span {
        width: 14px;
        height: 18px;
        color: white;
        /* margin: 7px 0 0 7px; */
        /* background: #e6e6e6; */
        position: absolute;
        left: 6px;
        top: 5px;
        transform: rotate(45deg);
        text-align: -webkit-center;
        border-radius: 50%;
    }

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 8s;
}

table#tblDev > tbody > tr > td {
    border-bottom: 1px solid gray;
    padding: 5px;
}

table#tblvalvest td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0px;
}

.clsthead {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    /*background-color: darkslategray;*/
    background-color: #0462ac;
    color: white;
    font-weight: 700;
}
.clsthead2 {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    /*background-color: darkslategray;*/
    background-color: #f06861;
    color: white;
    font-weight: 700;
}
/* table#tblDev tr td table#tblvalvest tr td{
        width: 20px!important;
    } */


table.tblcolor tr td:nth-child(2) {
    color: #0462ac;
    font-weight: 700;
}

table.tblcolor tr td:nth-child(4) {
    color: #0462ac;
    font-weight: 700;
}




.width84px {
    width: 300px !important;
}

.width18px {
    width: 18px !important;
}


table#tblDev tr td:nth-child(1) {
    width: -webkit-fill-available;
}

table#tblDev tr td:nth-child(2) {
    width: -webkit-fill-available;
}

/*.leaflet-popup-content-wrapper, .leaflet-popup-tip {
             color: #333;
             box-shadow: none !important;
             background: transparent !important;
        }
        .leaflet-popup-content-wrapper {
            padding: 0 !important;
            border-radius: 0 !important;
            margin: 0px 0px 32px 0 !important;
        }*/
/*.leaflet-popup-tip-container {
            display: none !important;
        }

        .leaflet-popup-content {
            margin: 0px 18px !important;
        }*/
