/* editapi location page */
.form-editapi{
  margin-top: 12rem;
}
.inputPassword3 {
  margin: 5px;
  box-shadow: -2px 4px 6px #e0e0e0;
  border: 1px solid #ffffff;
}
label{
    font-size: 14px;
    color: #969696;
}
.edit-form{
    padding: 32px 13px 39px 42px;
    border: 2px solid #81b0d5 !important;
    border-radius: 18px;
}
.edit-form-btn{
  text-align: center;
}
.update-btn{
  padding: 5px 31px 5px 31px;
  /* margin-left: 8rem; */
  margin-right: 0.5rem;
  border-radius: 20px;
  box-shadow: -1px 0px 10px 2px #b8b8b8;
}
.delete-btn{
  padding: 5px 31px 5px 31px;
  margin-right: 0.5rem;
  border-radius: 20px;
  box-shadow: -1px 0px 10px 2px #b8b8b8;
}
.back-btn{
  padding: 5px 22px 5px 25px;
  border-radius: 20px;
  box-shadow: -1px 0px 10px 2px #b8b8b8;
}
.edit-form-btn{
  margin-top: 3rem;
}
.intake-heading{
  text-align: center !important;
  color: #000000 !important;
}
#email{
  border: none;
}
.inputPassword4{
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 2rem;
}
.login-form{
  border-radius: 18px;
  padding-bottom: 2rem;
}
.horizontal-line{
 
    margin-bottom: 3rem;
    border-bottom: 1px solid #b7b7b7;
}

.logo-login{
  width: 60%;
}
.login-btn{
  padding: 8px 22px 8px 22px;
  background: #0462ac;
  border-radius: 10px;
}
.login-box{
  z-index: 2;
  position: absolute; 
}
.login-section{
  z-index: 1;
  position: absolute;
}
.card{
  border-radius: 1.25rem;
}
.nav-span-login{
  font-size: 20px;
}
.nav-span-form{
  font-size: 17px;
}
.nav-heading{
  color: #0462ac;
  font-size: 22px;
  font-weight: bold;
}
.nav-heading-form{
  color: #0462ac;
  font-size: 25px;
  font-weight: bold;
}