body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  width: 90px;
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 90px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 14rem;
        width: 100%;
        height: 50%;
        max-height: 300px;
        overflow-y: scroll;
    }
    .desktoptoggle_icon{
        display:none;
    }
    #sidebarMenu .nav-link .menu-title, .navbar-brand .menu-title {
        display: block !important;
        margin-left: 25px;
    }
    .dashboardcounts, .main_wrapper .gridsec {
        padding-top: 13rem;
    }
      .main_wrapper{
        margin-left: 0px !important;
    }
    .navbar {
        height: 100px !important;
    }
    .navbar-brand {
        padding-top: 1.75rem !important;
        padding-bottom: 1.75rem !important;
    }
    .navbar .navbar-toggler {
        top: 0.89rem !important;
    }
    .zone-table-title {
        position: relative !important;
        left: 0 !important;
    }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.bg-primary{

  background-image: linear-gradient(#4fb4fe, #2d8acf) !important;
}
 .navbar{
  height: 90px;
 }

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  width: 90px;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.row.toggled #sidebarMenu {
  width: 250px !important;
  transition: all 0.3s ease-in-out;
}

a.brand_icon {
  width: 250px !important;
  transition: all 0.3s ease-in-out;
  text-align: left !important;
}

#sidebarMenu .nav-link .menu-title, .navbar-brand .menu-title{
  color: #fff;
  display: none;
}

#sidebarMenu .nav-link .menutitle,  .navbar-brand .menutitle{
  color: #fff;
  margin-left: 1rem;
  display: block;
}

#sidebarMenu .nav-link{
  display: flex;
}
#menu-toggle, button#menu-toggle:focus:not(:focus-visible){
  border-color: transparent !important;
  outline: unset !important;
}
.text-primary{
  color: #0462ac;
}
thead, .dashboar-milestone{
  background-color: #0462ac;
  color: #fff;
}

.dataTables_wrapper, .edit-location{
  border-top: 1px solid #9ec2de;
  border-left: 1px solid #9ec2de;
  border-right: 1px solid #9ec2de;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
.dataTables_wrapper .row:nth-child(2) .col-sm-12{
  padding: 0px;
}
.dataTables_paginate .dataTables_filter{

  margin-right: 20px;

}
.dataTables_length .dataTables_info{

  margin-left: 20px;

}
.zone-table-title{
  position: absolute;
  left: 50%;
  margin-top: 10px;
  color: #0462ac;
}

input.empty {
  background-image: url(../images/Iconsearch.svg);
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  padding: 5px 8px 5px 10px;
  /* text-indent: 19px; */
  float: right;
  background-size: 20px;
}

input.no-icon{
padding: 5px 5px 5px 10px;
width: 200px;
}

.dashboar-milestone .milestone-1, .dashboar-milestone .milestone-2{
 border-right: 1px solid #fff;
}
.dashboar-milestone{
  border-radius: 1.25rem!important;
}
.dashboar-milestone h3 small{
  font-size: 15px;
  font-weight: 300;
}

.water-functions .water-function-feature{
  margin-right: 20px !important;
  border-radius: 10px;
}

.water-functions {
  background-color: #eaeaea;

}
.water-functions  .water-function-feature h4{
  color: #0462ac;  
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.dashbord-chart-sec{
  border-radius: 15px;
}
.nav-pills .nav-link {
  color: #555;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px !important; 
  padding: 10px 5px  !important;
}
.text-uppercase {
  letter-spacing: 0.1em;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  border-radius: 15px !important;
  background-color: #0462ac !important;
}

#map-view select,#chartview-wtp select, #chartview-wdn select, #chartview-wds select, #project-wdn select, #project-wds select, .zone-overview-sec select{
  appearance: auto !important;
  border-radius: 10px !important;
  padding: 10px !important;
}

#map-view .container-fluid:nth-child(1), #chartview-wtp .container-fluid:nth-child(1), #chartview-wdn .container-fluid:nth-child(1), #chartview-wds .container-fluid:nth-child(1), #project-wds .container-fluid:nth-child(1), #project-wdn .container-fluid:nth-child(1){
  border-bottom: 4px solid gray;
}

.chart-container {
  width: 100%;
  height: 100%;
  margin: auto;
}
.date-filter{
  margin-top: -1.31rem;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }

.modal-header {
    padding: 2px 16px;
    text-decoration: none;
    color: black;
}
  
  
  .modal-footer {
  padding: 2px 16px;
  
  color: white;
  }
  .table th,td{
  text-align: center;
  }

  #wdnmodal-list_wrapper{
    border: unset !important;
  }