﻿@model AMC.Models.Login

@{
    ViewBag.Title = "AMC Login";
    Layout = "~/Views/_LayoutLogin.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<style>
    .market-btn {
        display: inline-block;
        padding: 0.3125rem 0.875rem;
        padding-left: 3.8125rem;
        -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
        transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
        border: 1px solid #b9b9b9;
        background-position: center left 0.75rem;
        background-color: #fff;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        text-decoration: none;
        border-radius: 15px;
    }

        .market-btn .market-button-title {
            display: block;
            color: #222;
            font-size: 1.125rem;
        }

        .market-btn .market-button-subtitle {
            display: block;
            margin-bottom: -0.25rem;
            color: #888;
            font-size: 0.75rem;
        }

        .market-btn:hover {
            background-color: #f7f7f7;
            text-decoration: none;
        }

    .apple-btn {
        background-image: url(../assets/images/icon/apple.png)
    }

    .google-btn {
        background-image: url(../assets/images/icon/android.png)
    }

    

    

    .market-btn-light {
        border-color: rgba(255, 255, 255, 0.14);
        background-color: rgba(0, 0, 0, 0);
    }

        .market-btn-light .market-button-title {
            color: #fff;
        }

        .market-btn-light .market-button-subtitle {
            color: rgba(255, 255, 255, 0.6);
        }

        .market-btn-light:hover {
            background-color: rgba(255, 255, 255, 0.06);
        }
</style>

<div class="container-fluid h-100 login-box">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3  mt-5 login-section">
            <div class="padding-5">
                <div class="">
                    <div class="row-fluid h-100">
                        <div class="card">
                            <div class="card-body login-form border-secondary border">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex horizontal-line">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2 text-center">
                                            <h4 class="text-decoration-none nav-heading mb-0 mt-4">LOGIN</h4>
                                            <p>&nbsp;</p>
                                            @*<p class="nav-span-form font-weight-normal">Sign In To Your Account</p>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2">
                                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name" } })
                                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2">

                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 offset-lg-1 offset-md-1 offset-sm-3 offset-xs-3 edit-form-btn">
                                        <button type="submit" class="btn btn-primary login-btn" style="margin-bottom: 25px; border-radius: 1rem; font-size: 1.5rem; ">Login</button>
                                        <div class="col-lg-12 col-md-12">
                                            <center>
                                                <div>
                                                    <!-- Google Play button -->
                                                    @*<a href="~/assets/images/AMC_FINAL_04_01_2022_- v1.apk" target="_blank" download class="market-btn google-btn" role="button">*@
                                                    @*<a href="@Url.Action("Download","Home")"  class="market-btn google-btn" role="button">*@
                                                    <a href="https://play.google.com/store/apps/details?id=in.xstpl.amc"  class="market-btn google-btn" role="button">
                                                        <span class="market-button-subtitle">Download on the</span>
                                                        <span class="market-button-title">Android Build</span>
                                                    </a>

                                                    <!-- App Store button -->
                                                    <a href="https://apps.apple.com/in/app/smart-water-scadl-ccspl/id1610696593" target="_blank" class="market-btn apple-btn" role="button">
                                                        <span class="market-button-subtitle">Download on the</span>
                                                        <span class="market-button-title">iOS Build</span>
                                                    </a>

                                                </div>


                                            </center>
                                        </div>






                                        <div>
                                            @if (ViewBag.msg != null)
                                            {
                                                <font color="red">@ViewBag.msg</font>
                                            }
                                        </div>
                                    </div>

                                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3 edit-form-btn">
            <button type="submit" class="btn btn-primary login-btn" style="margin-bottom: 25px; border-radius: 1rem; font-size: 1.5rem; ">Login</button>
            <div class="col-md-12">
                <center>
                    <div>-->
                                    <!-- App Store button -->
                                    <!--<a href="" target="_blank" class="market-btn apple-btn" role="button">
            <span class="market-button-subtitle">Download on the</span>
            <span class="market-button-title">iOS Build</span>
        </a>-->



                                    <!-- Google Play button -->
                                    <!--<a href="" target="_blank" class="market-btn google-btn" role="button">
                            <span class="market-button-subtitle">Download on the</span>
                            <span class="market-button-title">Android Build</span>
                        </a>
                    </div>


                </center>
            </div>






            <div>
                @if (ViewBag.msg != null)
                {
                    <font color="red">@ViewBag.msg</font>
                }
            </div>
        </div>-->

                                }
                            </div>
                        </div>
                        <div class="background-section mt-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3">
                                        <img src="@Url.Content("~/assets/images/ind2 copy.png")" class="img-responsive" style="width: 18%;">
                                        <img src="@Url.Content("~/assets/images/png-clip.png")" class="img-responsive" style="width: 45%; margin-left: 3rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
