﻿
@model IEnumerable<AMC.Models.WTPModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 main_wrapper">
    <div class="container-fluid mt-5 gridsec">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" id="but_add" value="Add" data-toggle="modal" data-target="#exampleModal">Create</button>
                @*<input type="button" id="but_add" value="Add" />*@
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center wtp-table-title">WTP List</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <table id="wtp-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>WTP Name</th>
                            <th>Capacity (MLD)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td>
                                    @Html.DisplayFor(modelItem => item.WTPId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WTPName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Capacity)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" id="wtpform" action="#">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create WTP</h5>
                        <button type="button" onclick="closePopup()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="wtpname" class="col-form-label">WTP Name:</label>
                            <input type="text" required class="form-control" id="wtpname">
                        </div>
                        <div class="form-group">
                            <label for="capacity" class="col-form-label">Capacity:</label>
                            <input type="number" required class="form-control" id="capacity">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button onclick="closePopup()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


<script>
    $(document).ready(function () {
        $("#wtp-list").SetEditable({
            bootstrap: true,
            columnsEd: "1,2",
            onBeforeDelete: onDelete,
            onEdit: onAddUpdate,
            //$addButton: $('#but_add')
        });

        $('#but_add').click(function () {
            //rowAddNewAndEdit('device-list');
            //AddTypesToInput();
            $('#wtpname').val('');
            $('#capacity').val('');
            $('#exampleModal').modal('show');
        });
        $('#wtp-list').on('click', '#bEdit', function (e) {
            AddTypesToInput();
        });
        $('#wtpform').on('submit', function (e) {
            $.ajax({
                url: "WTP/Add",
                type: "POST",
                data: {
                    WTPId: 0,
                    WTPName: $('#wtpname').val(),
                    Capacity: $('#capacity').val()
                },
                success: function (res) {
                    if (res) {
                        $('#exampleModal').modal('hide');
                        rowAddNew('wtp-list', [res.WTPId, res.WTPName, res.Capacity]);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
            return false;
        });
        function AddTypesToInput() {
            var $inputTxt = $($('.input-sm')[0]);
            var txt = $inputTxt.val().trim();
            $inputTxt.attr('type', 'text');
            $inputTxt.attr('required', 'true');
            $inputTxt.val(txt);

            var $input = $($('.input-sm')[1]);
            var val = $input.val().trim();
            $input.attr('type', 'number');
            $input.attr('required', 'true');
            $input.val(val);
        }

        function GetWTPRowData(but) {
            var tr = but[0];
            var tds = $(tr).children('td');
            var WTPId = $(tds[0]).html().trim();
            var WTPName = $(tds[1]).html().trim();
            var Capacity = $(tds[2]).html().trim();
            return {
                WTPId: WTPId,
                WTPName: WTPName,
                Capacity: Capacity
            }
        }

        function onAddUpdate(but) {
            var data = GetWTPRowData(but);
            if (data.WTPId) {
                Update(data);
            }
            else {
                AddNew(data, but);
            }
        }

        function AddNew(data, but) {
            $.ajax({
                url: "WTP/Add",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res) {
                        var tr = but[0];
                        var tds = $(tr).children('td');
                        $(tds[0]).html(res.WTPId);
                        alert("Add success");
                    }
                    else {
                        alert("Add fail");
                    }

                }
            });
        }

        function Update(data) {
            $.ajax({
                url: "WTP/Update",
                type: "POST",
                data: data,
                success: function (res) {
                    if (res)
                        alert("Edit success");
                    else
                        alert("Edit fail");
                }
            });
        }

        function onDelete(but) {
            var data = GetWTPRowData(but);

            $.ajax({
                url: "WTP/Delete",
                type: "POST",
                data: { id: data.WTPId },
                success: function (res) {
                    if (res)
                        alert("Delete success");
                    else
                        alert("Delete fail");
                }
            });
        }

    });
    function closePopup() {
        $('#exampleModal').modal('hide');
    }

</script>