﻿@model IEnumerable<AMC.Models.WTPGroundWaterModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet">

<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center zone-table-title">WTP Ground Water</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="ground_water_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>WDS Name</th>
                            <th>Inlet Qty (m3)</th>
                            <th>Outlet Qty (m3)</th>
                            <th>Ground Water Qty For Day (m3)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="table-danger">
                                <td>
                                    @Html.DisplayFor(modelItem => item.LocationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RPT_INLET_FLOW_CRNT_TOTAL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RPT_OUTLET_FLOW_CRNT_TOTAL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.last_day_qty)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>

    $(document).ready(function () {
        //$('#device-list').SetEditable();
        $('#ground_water_list').DataTable(
            {
                "order": [[3, "desc"]],
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ]
            }
        );
    });

</script>

