﻿@model IEnumerable<AMC.Models.WTPInletOutletModel>

@{
    ViewBag.Title = "WTPOutletDashboard";
    Layout = "~/Views/_LayoutDashboard.cshtml";
}
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 bar">

    <div class="container-fluid mt-0 p-0">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label class="header" style="font-weight: 600;font-size: 23px; padding:10px; float: right;">Water Treatement Plants - WTP Outlets</label>
            </div>
            <div class="col-6 col-md-4">


                @*<div id="date-time">

                        <input type="text" id="currentDate" disabled>
                        <label>Date</label>

                        <input type="text" id="currentTime" disabled>
                        <label>Time</label>
                        <br />

                    </div>*@
                <label class="header" style="font-weight: 600;font-size: 23px; padding:10px; float: right;">@ViewBag.LDRDateTIME</label>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md-4">
            <label style="font-weight: 600;color: #0462ac; font-size: 20px; margin-left: 10rem;">
                Narmada
                Canal
            </label>
        </div>

        <div class="col-md-2">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchbox" style="margin-left: 72rem;">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12 dashboar-milestone mt-2 d-flex text-center rounded">
                <div class="col-md-3 p-3 milestone-1">
                    <h3 style="font-size:1.3rem">
                        @ViewBag.Capacity <small>QTY. IN MLD Capacity</small>
                    </h3>
                </div>

                <div class="col-md-3  p-3 milestone-2">
                    <h3 style="font-size:1.3rem">@ViewBag.LDQ  <small>QTY. IN MLD Last Day</small></h3>

                </div>

                <div class="col-md-3  p-3 milestone-2">
                    <h3 style="font-size:1.3rem"> @ViewBag.CDQ  <small>QTY. IN MLD Current Day</small></h3>

                </div>
                <div class="col-md-3  p-3 milestone-3">
                    <h3 style="font-size:1.3rem">@ViewBag.UnitConsumption  <small>(KWH) Total Energy Consume</small></h3>

                </div>
            </div>
        </div>

        <div class="row">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {

                    i++;
                    <div class="col-md-3" data-role="location">
                        <div class="row cardin">
                            <div class="col-md-12">
                                <br />
                                <div class="card" style="margin-top: -15px;">
                                    <a href="javascript:;" onclick="openDetailModal(@item.WTPId,'@item.WTPName')">
                                        <h5 class="card-title">@item.WTPName</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="" style="padding:5px;">
                                    <div id="@i" width="300" height="250"></div>
                                </div>
                            </div>
                        </div>
                    </div>          }

            }

        </div>
    </div>
</main>

<div class="modal" id="detail_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @*<h4 class="modal-title"><span id="location_name">0</span></h4>
                    <h4 class="tab"> LDR: <span id="LDR_DateTime">0</span></h4>*@
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-3">
                    <!-- Nav pills -->

                    <ul class="nav nav-pills" role="tablist">
                        @*<li class="nav-item">
                                <a class="nav-link active border border-secondary" data-bs-toggle="pill" href="#home">&nbsp; Details &nbsp;</a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link border border-secondary" data-bs-toggle="pill" href="#menu2">
                                    &nbsp;
                                    Export
                                    &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link border border-secondary" data-bs-toggle="pill" onclick="GetPdfFile();">
                                &nbsp;
                                Export
                                &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pdf_content">
                        <table width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td><h4><span id="location_name">0</span></h4></td>
                                    <td><h4> LDR: <span id="LDR_DateTime">0</span></h4></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="home" class="container tab-pane active">
                            <br>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">Inlet Flow (m3/Hr)</th>
                                            <th scope="col">Sump Level (mtr)</th>
                                            <th scope="col">Outlet Flow Rate (m3/Hr)</th>
                                            <th scope="col">Pressure (psi)</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td><span id="InletFlow">0</span></td>
                                            <td><span id="SumpLevel">0</span></td>
                                            <td><span id="OutletFlowRate">0</span></td>
                                            <td><span id="Pressure">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container-fluid p-0 mb-3" style="padding-bottom: 14px;">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">Sump Capacity (MLD)</th>
                                            <th scope="col">Pump Status</th>
                                            <th scope="col">Pump Design (W+S)</th>
                                            <th scope="col">Pump Run</th>
                                            <th scope="col">Intake Source</th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td><span id="SumpCapacity">0</span></td>
                                            <td><span id="PumpStatus">0</span></td>
                                            <td><span id="PumpDesign">0</span></td>
                                            <td><span id="PumpRun">0</span></td>
                                            <td><span id="IntakeSource">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<div class="row">
                                        <div class="row row-cols-2 row-cols-lg-3">
                                            <div class="col-4 col-lg-3 p-0">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Sump Capacity (m3) </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;padding: 1rem 1rem;"> <span id="SumpCapacity">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Pump Status </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;padding: 1rem 1rem;"> <span id="PumpStatus">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3 p-0">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Pump Design (W+S) </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;padding: 1rem 1rem;"> <span id="PumpDesign">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Pump Run </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;padding: 1rem 1rem;"> <span id="PumpRun">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-3">
                                                <div class="col">
                                                    <div class="card" style="border: 1px solid rgb(4 98 172);">
                                                        <div class="card-header text-white" rode="tab" id="XX1" style="background-color:#0462ac; color: white; ">
                                                            <h4 class="card-title  text-white">Intake Source </h4>
                                                        </div>
                                                        <div class="card-body" style="color: #000000; font-weight: 700;padding: 1rem 1rem;"> <span id="IntakeSource">0</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="">
                                <table class="table table-bordered"
                                       style=" border-color: #fff; box-sizing: border-box;">
                                    <thead style="background-color: #0462ac; color: #fff; text-align: center;">
                                        <tr>
                                            <th scope="col">KPI</th>
                                            <th scope="col"><span id="KPI_Current">0</span></th>
                                            <th scope="col"> <span id="KPI_prev">0</span></th>
                                        </tr>
                                    </thead>
                                    <tbody style=" color: #000000; text-align: center; border-bottom-color: #a2a2a2; font-weight: 700;">
                                        <tr>
                                            <td style="color: #0462ac;">Peak Level (MTR)</td>
                                            <td><span id="PeakLevelMTR_Current">0</span></td>
                                            <td><span id="PeakLevelMTR_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;"> Inlet Volume (m3)</td>
                                            <td><span id="InletVolume_Current">0</span></td>
                                            <td><span id="InletVolume_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Outlet Volume (m3)</td>
                                            <td><span id="OutletVolume_Current">0</span></td>
                                            <td><span id="OutletVolume_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Peak Pressure (PSI)</td>
                                            <td><span id="PeakPressure_Current">0</span></td>
                                            <td><span id="PeakPressure_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Total Pumping Hour (HH:MM)</td>
                                            <td><span id="TotalPumpingHour_Current">0</span></td>
                                            <td><span id="TotalPumpingHour_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Unit Consumption (Kwh)</td>
                                            <td><span id="KWHM3_Current">0</span></td>
                                            <td><span id="KWHM3_prev">0</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #0462ac;">Kwh/M3</td>
                                            
                                            <td><span id="UnitConsumption_Current">0</span></td>
                                            <td><span id="UnitConsumption_prev">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .card-title:hover {
        transform: scale(1.1);
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06); */
    }

    .highcharts-root {
        height: 68%;
        width: 100%;
    }

    .dashboar-milestone {
        height: 4rem;
    }

    .highcharts-title {
        display: none;
    }

    .cardin {
        border: 2px solid rgb(4 95 172);
        border-radius: 1.25rem;
        width: 17rem;
        height: 22rem;
        margin-top: 20px;
    }

        .cardin:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

    .row-cols-2 > * {
        flex: 0 0 auto;
        width: auto;
    }

    #highcharts-5xqjjfb-0 {
        height: 290px;
    }

    .highcharts-yaxis-labels {
        display: none;
    }

    .highcharts-yaxis {
        display: none;
    }

    #date-time {
        padding-top: 20px;
    }

    #currentDate {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    #currentTime {
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        border-color: #339ce7;
        border-radius: 14px;
        width: 151px;
        background-color: #fff;
    }

    .bar {
        background-color: #e6e6e6;
        height: 50px;
        width: 100%;
    }

    .align-items-start {
        background-color: #0462ac;
        height: 110px;
        margin-left: -158px;
        width: 131%;
        border-radius: 15px;
    }

    .bg-dark {
        background-color: #0462ac !important;
    }

    .card-body {
        padding: 1rem 2rem;
    }

    .card-title {
        text-align: center;
        color: #000;
    }

    card-title a {
        color: #000;
    }

    .tab {
        text-decoration: none;
        text-decoration-color: gray;
        margin-left: 27rem;
    }

    .modal-title {
        text-decoration: none;
        text-decoration-color: gray;
    }

    .text-white {
        font-size: 13px;
    }

    card-header:first-child {
        border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0;
    }

    .card-body {
        text-align: center;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 23%;
    }

    .highcharts-legend-item text {
        font-size: 19px
    }

    .highcharts-radial-axis-labels {
        display: none;
    }
</style>

<script src="https://cdn.jsdelivr.net/jspdf/1.2.61/jspdf.min.js"></script>
<script src="@Url.Content("~/assets/js/chart.min.js")"></script>
<script src="@Url.Content("~/assets/js/highcharts-2.js" )"></script>
<script src="@Url.Content("~/assets/js/highcharts-more.js" )"></script>
<script type="text/javascript">

    var interval = null;
    var graphloadInterval = 30000;
    $("#detail_modal").on("hidden.bs.modal", function () {

        clearInterval(interval);
        interval = null;
        loadWtpgraphs();

    });

    function openDetailModal(wtp_id, location_name) {
        interval = setInterval(function () { popupBinding(wtp_id, location_name); }, 1000);
    }

    function popupBinding(wtp_id, location_name) {
        $.ajax({
            type: 'GET',
            url: "/WTP/GetWTPInletDetailsByWTPName?wtp_id=" + wtp_id + "&Type=Outlet",


            success: function (result) {

                $("#detail_modal").modal('show');
                console.log(result.list[0].InletFlow);

                $('#LDR_DateTime').html(result.list[0].LDR_DateTime.toString());
                $('#location_name').html(location_name);
                $('#InletFlow').html(result.list[0].InletFlow);
                $('#InletFlow').html(result.list[0].InletFlow);
                $('#SumpLevel').html(result.list[0].SumpLevel);
                $('#OutletFlowRate').html(result.list[0].OutletFlowRate);
                $('#Pressure').html(result.list[0].Pressure);
                $('#SumpCapacity').html(result.list[0].SumpCapacity);
                if (result.list[0].Pressure != 0) {
                    $('#PeakPressure_Current').html(result.list[0].PeakPressure_Current);
                }
                else {
                    $('#PeakPressure_Current').html("NA");
                }
                //if (result.list[0].Pressure != 0) {
                $('#PumpStatus').html(result.list[0].PumpStatus);
                //}
                //else {
                //    $('#PumpStatus').html("NA");
                //}


                // if (result.list[0].Pressure != 0) {
                $('#PumpDesign').html(result.list[0].PumpDesign);
                // }
                //else {
                //    $('#PumpDesign').html("NA");
                //}

                //if (result.list[0].Pressure != 0) {
                $('#PumpRun').html(result.list[0].PumpRun);
                //}
                //else {
                //    $('#PumpRun').html("NA");
                //}

                $('#IntakeSource').html(result.list[0].IntakeSource);

                $('#KPI_Current').html(result.list[0].KPI_Current);

                $('#PeakLevelMTR_Current').html(result.list[0].PeakLevelMTR_Current);
                $('#InletVolume_Current').html(result.list[0].InletVolume_Current);
                $('#OutletVolume_Current').html(result.list[0].OutletVolume_Current);
                if (result.list[0].Pressure != 0) {
                    $('#PeakPressure_Current').html(result.list[0].PeakPressure_Current);
                }
                else {
                    $('#PeakPressure_Current').html("NA");
                }
                //if (result.list[0].Pressure != 0) {
                $('#TotalPumpingHour_Current').html(result.list[0].TotalPumpingHour_Current);
                //}
                //else {
                //    $('#TotalPumpingHour_Current').html("NA");
                //}

                $('#UnitConsumption_Current').html(result.list[0].UnitConsumption_Current);
                $('#KWHM3_Current').html(result.list[0].KWHM3_Current);

                $('#KPI_prev').html(result.list[0].KPI_prev);

                $('#PeakLevelMTR_prev').html(result.list[0].PeakLevelMTR_prev);
                $('#InletVolume_prev').html(result.list[0].InletVolume_prev);
                $('#OutletVolume_prev').html(result.list[0].OutletVolume_prev);
                if (result.list[0].Pressure != 0) {
                    $('#PeakPressure_prev').html(result.list[0].PeakPressure_prev);
                }
                else {
                    $('#PeakPressure_prev').html("NA");
                }

                //if (result.list[0].Pressure != 0) {
                $('#TotalPumpingHour_prev').html(result.list[0].TotalPumpingHour_prev);
                //}
                //else {
                //    $('#TotalPumpingHour_prev').html("NA");
                //}


                $('#UnitConsumption_prev').html(result.list[0].UnitConsumption_prev);
                $('#KWHM3_prev').html(result.list[0].KWHM3_prev);

            },
            error: function (e) {
                alert("Error:Unable to load data from server");
                $("#detail_modal").modal('close');
            }

        });
    }

    $("#detail_modal").on("show.bs.modal", function () {

        clearInterval(graphloadInterval);
        graphloadInterval = null;
    });

    function loadWtpgraphs() {
        graphloadInterval = 30000;
        graphloadInterval = setInterval(function () { auto_load_graphs(); }, 30000);
    }
    function auto_load_graphs() {
        $.ajax({
            type: 'GET',
            url: "/WTP/WTPListForGraphOutlet",


            success: function (result) {
                console.dir(result);
                var list = result.list;
                var i = 0;
                $.each(list, function (index, value) {
                    i++;
                    console.log(list);
                    //drawChartDynamic(list.capacity.toString(), (list.cdq).toString(), (list.ldq).toString(), list.WTPName,i);
                    console.log("Capacity=" + list[index].Capacity);
                    console.log("CDQ=" + list[index].CDQ);
                    console.log("LDQ=" + list[index].LDQ);


                    //drawStuff2(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                    //drawStuff(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                    drawHiChartForWTPOutlet(list[index].Capacity, list[index].CDQ, list[index].LDQ, i.toString());
                    // drawStuff(650, 10, 50, i);
                    //drawChart(list[index].Capacity, list[index].CDQ, list[index].LDQ, i);
                });
            },
            error: function (e) {
                alert("Error:Unable to load data from server");
            }

        });
    }


    $(document).ready(function () {
        auto_load_graphs();
        graphloadInterval = setInterval(auto_load_graphs, graphloadInterval);
    });


    function drawHiChartForWTPOutlet(capacity, cdq, ldq, i) {

        const chart = Highcharts.chart(i, {
            chart: {
                type: 'column',
                marginLeft: 1
            },
            //title: {
            //    text: 'heading name'
            //},
            //subtitle: {
            //    text: ''
            //},
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },
            colors: ['#f57c00', '#0462ac', '#198917'],
            xAxis: {
                //categories: ['Capacity', 'CDQ', 'LDQ']
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            series: [{
                name: 'Capacity :' + capacity + 'MLD',
                marginLeft: 20,
                data: [capacity],
                grouping: true,
                groupPadding: 0.20,
                borderWidth: 0

            }, {
                name: 'CDQ :' + cdq + 'MLD',
                marginLeft: 20,
                data: [cdq],
                grouping: true,
                groupPadding: 0.20,
                borderWidth: 0
            }, {
                name: 'LDQ :' + ldq + 'MLD',
                marginLeft: 20,
                data: [ldq],
                grouping: true,
                groupPadding: 0.20,
                borderWidth: 0
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 300
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        }
                    }
                }]
            }
        });



    }

    //google.charts.load('current', { 'packages': ['bar'] });
    //google.charts.setOnLoadCallback(drawStuff);
    //function drawStuff2(capacity, cdq, ldq, i) {
    //    const canvas = document.getElementById('1');
    //    const ctx = canvas;
    //    const myChart = new Chart(ctx, {
    //        type: 'bar',
    //        data: {
    //            labels: ["Capacity", "Current Day", "Last Day"],
    //            datasets: [{
    //                label: 'Kotarpur 650 (MLD)',
    //                backgroundColor: ["#2eb85c", "#f9b215", "#3399ff"],
    //                barThickness: 25,
    //                maxBarThickness: 50,
    //                borderColor: '#3399ff',
    //                data: [650, 704, 314],
    //            }]
    //        },
    //        options: {
    //            plugins: {
    //                legend: {
    //                    display: false,
    //                },

    //                datalabels: {
    //                    anchor: 'end', // remove this line to get label in middle of the bar
    //                    align: 'top',
    //                    labels: {
    //                        value: {
    //                            color: 'blue'
    //                        }
    //                    }

    //                },
    //            },
    //            scales: {
    //                x: {
    //                    ticks: {
    //                        display: true,
    //                    },
    //                },
    //                y: {
    //                    ticks: {
    //                        display: false,
    //                    },
    //                },
    //            },
    //        }
    //    });
    //}
    //function drawStuff(capacity, cdq, ldq, i) {
    //    var data = new google.visualization.arrayToDataTable([
    //        ['Move', 'MLD'],
    //        ["Capacity", capacity],
    //        ["Last Day (MLD)", ldq],
    //        ["Current Day (MLD)", cdq]

    //    ]);

    //    var options = {
    //        //width: 600,
    //        legend: { position: 'none' },
    //        /* chart: {
    //             title: 'Chess opening moves',
    //             subtitle: 'popularity by percentage'
    //         },*/
    //        axes: {
    //            x: {
    //                // 0: { side: 'top', label: 'White to move' } // Top x-axis.
    //            }
    //        },
    //        //bar: { groupWidth: "90%" }
    //        bar: { groupWidth: "30%" }
    //    };

    //    var chart = new google.charts.Bar(document.getElementById('' + i));
    //    // Convert the Classic options to Material options.
    //    chart.draw(data, google.charts.Bar.convertOptions(options));

    //};
    //function drawChartDynamic(capacity, cdq, ldq, WTPName, i) {
    //    alert("in drwa  ")
    //    var data = google.visualization.arrayToDataTable([
    //        ['Year', 'Sales', 'Expenses', 'Profit'],
    //        ['2014', capacity, cdq, ldq]
    //    ]);
    //    var options = {};
    //    /*   var options = {
    //           chart: {
    //               title: WTPName,
    //               subtitle: 'Sales, Expenses, and Profit: 2014-2017',
    //           }
    //       };
    //       */
    //    var chart = new google.charts.Bar(document.getElementById('' + i));

    //    chart.draw(data, google.charts.Bar.convertOptions(options));
    //}
</script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(capacity, cdq, ldq, i) {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses', 'Profit'],
            ['2014', capacity, cdq, ldq]
        ]);
        var options = {};
        /*   var options = {
               chart: {
                   title: 'Company Performance',
                   subtitle: 'Sales, Expenses, and Profit: 2014-2017',
               }
           };
           */
        var chart = new google.charts.Bar(document.getElementById('' + i));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    function primaryClick(id) {

        $.ajax({
            type: "GET",
            url: "/WTP/Popup",
            contentType: "application/json",
            data: { id: id },
            dataType: "json",
            success: function (result) {

                $('#pumpstatus').empty();
                let DymCircle = '';
                if (result.noofpump == 0) {
                    DymCircle += `<div>NA</div >`
                } else {

                    for (var i = 1; i <= result.noofpump; i++) {
                    }
                }
            },
            failure: function (response) {
                alert(response1);
            }
        });
    }
</script>
<script>
    //I did not read up on formatting as in pdf.text(X1, X2,   <------ not sure of how X1 and X2 are used, you can do that
    function GetPdfFile() {
        // $('#export_button_div').css('display', 'none');

        var doc = new jsPDF({
            orientation: 'p',
            //unit: 'in',
            format: [612, 612]
        });
        doc.fromHTML($('#pdf_content').html(), 5, 5, {
            //'width': 450,
            //'elementHandlers': specialElementHandlers
        });

        var x = document.getElementById("location_name").textContent + ".pdf";

        doc.save(x);
        //$('#export_button_div').css('display', 'block');
    }


</script>
<script>
    $(document).ready(function () {
        $("#searchbox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $('div[data-role="location"]').filter(function () {
                $(this).toggle($(this).find('h5').text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
